@import '../../styles/abstracts/abstracts';
@import '../../styles/vendors/_bootstrap-custom.scss';

$idoit-tag__border-radius: 0.4rem !default;
$idoit-tag__opacity: 0.5 !default;
$idoit-tag__shadow: 0px 2px 4px rgba(166, 157, 140, 0.25);

.tag-wrapper {
  background-color: $idoit-neutral-200;
  border-radius: $idoit-tag__border-radius;
  margin-right: 0.8rem;
  font-size: $idoit-font-size-large;
  line-height: $idoit-line-height-large;
  white-space: nowrap;
  display: flex;
  width: max-content;
  cursor: pointer;
}

.tag-content {
  display: flex;
  padding: 0.3rem 0.4rem;
  border-radius: $idoit-tag__border-radius;
  min-width: 0;
  color: $idoit-neutral-900;
  background-color: $idoit-neutral-200;

  a {
    color: $idoit-neutral-900;
    text-decoration: none;
  }

  @include svg-fill($idoit-neutral-700);

  &:hover:not(.tag-content-disabled) {
    background-color: $idoit-neutral-700;
    color: $idoit-white;

    a {
      color: $idoit-white;
    }

    @include svg-fill($idoit-white);
  }

  &:focus-visible {
    background-color: $idoit-focus-regular;
    color: $idoit-neutral-900;

    box-shadow: $idoit-tag__shadow;

    @include svg-fill($idoit-neutral-900);
  }

  &:active:not(.tag-content-disabled) {
    background-color: $idoit-neutral-300;
    color: $idoit-neutral-900;

    @include svg-fill($idoit-neutral-700);
  }
}

.tag-content-disabled {
  opacity: $idoit-tag__opacity;
  cursor: not-allowed !important;

  &:hover:not(.tag-content-disabled) {
    cursor: default;
    background-color: $idoit-neutral-200;
    color: $idoit-neutral-900;

    @include svg-fill($idoit-neutral-700);

    a {
      cursor: default;
      color: $idoit-neutral-900;
    }
  }
}

.tag-label-wrapper {
  @include breakpoint('md') {
    max-width: 150px;
  }

  @include breakpoint('lg') {
    max-width: 150px;
  }

  @include breakpoint('xl') {
    max-width: 150px;
  }
}

.tag-content-with-close {
  border-radius: $idoit-tag__border-radius 0 0 $idoit-tag__border-radius;
}

.tag-icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 0 $idoit-tag__border-radius $idoit-tag__border-radius 0;

  @include svg-fill($idoit-neutral-700);

  &:hover:not(.tag-icon-disabled) {
    background-color: $idoit-neutral-700;

    @include svg-fill($idoit-white);
  }

  &:focus-visible {
    background-color: $idoit-focus-regular;

    @include svg-fill($idoit-neutral-900);
  }

  &:active:not(.tag-icon-disabled) {
    background-color: $idoit-neutral-300;

    @include svg-fill($idoit-neutral-700);
  }
}

.tag-icon {
  margin: 0 0.4rem;
}

.tag-icon-disabled {
  opacity: $idoit-tag__opacity;
  cursor: not-allowed !important;

  &:hover:not(.text-icon-disabled) {
    cursor: default;
    background-color: $idoit-neutral-200;
    color: $idoit-neutral-900;

    @include svg-fill($idoit-neutral-700);
  }
}

.tag-prefix {
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
}
