@import '../../styles/abstracts/abstracts';

.container {
  display: flex;

  &.horizontal {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .content {
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: center;

    .content {
      left: 100%;
      transform: translateY(-100%);
    }

    .progress {
      align-self: center;
      min-height: 10px;
    }
  }

  .progress {
    z-index: -1;
    border-radius: 0;
    margin-left: -2px;
    margin-right: -2px;
  }
}
