.container {
  width: 100%;
}

.group {
  margin-right: 16px;
  max-width: 200px;
}

.matrix {
  padding: 16px 0px 0px 0px;
  background-color: white;
  width: 100%;
  min-height: 300px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 100px 0px 0px;

  .combobox {
    max-width: 200px;
  }
}

.first {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.last {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
