html {
  font-size: 10px;
}

button {
  font-style: normal;
}

input:focus-visible,
textarea:focus-visible {
  outline: none !important;
}

input:-moz-focusring,
textarea:-moz-focusring {
  appearance: none;
  border-style: initial;
  outline: none !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
