@import '../../../../styles/abstracts/abstracts';

$form-field-min-height: 4rem;
$form-field-border-default: 1px;
$form-field-border-active: 2px;
$form-field-border-radius: 2 * $form-field-border-active;
$form-field-space-side: 13px;
$form-field-space-between: space(1);
$form-field-color-extra: $idoit-neutral-500;
$form-field-last-extra-right: -8px;

$form-field-variants: (
  regular: (
    width: $form-field-border-default,
    cursor: pointer,
  ),
  has-border: (
    width: $form-field-border-default,
    border: $idoit-neutral-200,
    cursor: pointer,
  ),
  hover: (
    width: $form-field-border-active,
    border: $idoit-neutral-300,
    pseudo: 'hover',
  ),
  has-error: (
    width: $form-field-border-active,
    border: $idoit-error,
    shadow: rgba($idoit-error, 0.15),
  ),
  success: (
    width: $form-field-border-active,
    border: $idoit-success-regular,
    shadow: rgba($idoit-success, 0.16),
  ),
  focus: (
    width: $form-field-border-active,
    border: $idoit-focus-regular,
    shadow: rgba($idoit-focus-regular, 0.25),
    pseudo: 'focus-within',
  ),
  disabled: (
    width: $form-field-border-default,
    border: $idoit-neutral-300,
    background: $idoit-neutral-100,
    color: $idoit-neutral-500,
    cursor: not-allowed,
  ),
  readonly: (
    cursor: default,
    pointer-events: none,
  ),
  active: (
    width: $form-field-border-active,
    border: $ui-kit-interaction-regular,
    shadow: rgba($ui-kit-interaction-press, 0.16),
  ),
);

@mixin make-box-shadow($color, $width) {
  box-shadow: 0 $width 2 * $width $color;
}

@mixin make-border($width) {
  $padding-width: calc(#{$form-field-space-side} - #{$width} + #{$form-field-border-default});
  $padding-y: calc(2px + #{$form-field-border-default} - #{$width});
  border-width: $width;
  padding: $padding-y $padding-width;
}

@mixin make-field-styles($style) {
  @if (map-has-key($style, 'cursor')) {
    $cursor: map-get($style, 'cursor');
    cursor: $cursor;

    * {
      cursor: $cursor;
    }
  }
  @if (map-has-key($style, 'border')) {
    border-color: map-get($style, 'border');
  }
  @if (map-has-key($style, 'width')) {
    @include make-border(map-get($style, 'width'));
    @if (map-has-key($style, 'shadow')) {
      @include make-box-shadow(map-get($style, 'shadow'), map-get($style, 'width'));
    }
  }
  @if (map-has-key($style, 'background')) {
    background-color: map-get($style, 'background');
  }
  @if (map-has-key($style, 'color')) {
    color: map-get($style, 'color');
  }
  @if (map-has-key($style, 'pointer-events')) {
    pointer-events: map-get($style, 'pointer-events');
  }
}

.fieldGroup {
  display: flex;

  .formField:last-child {
    padding-right: 0 !important;
  }

  .formField:first-child {
    padding-left: 0 !important;
  }

  .formField:not(.initial) {
    padding: 0;
    margin: unset !important;
    border: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
    outline: unset !important;
    min-height: calc(#{$form-field-min-height} - 6px);
    width: 90%;
    flex: 1 1 auto;
  }

  .formField[type='time'][value=''] {
    background-color: inherit !important;

    &.disabled {
      color: $idoit-neutral-200 !important;
    }
  }
}

.formField {
  display: flex;
  align-items: center;
  min-height: $form-field-min-height;
  border-radius: $form-field-border-radius;
  border: $form-field-border-default solid transparent;
  background: $idoit-white;
  margin: space(1) 0;
  max-width: 100%;
  width: 100%;

  @each $variantName, $value in $form-field-variants {
    &.#{$variantName} {
      @include make-field-styles($value);
    }

    @if (map-has-key($value, 'pseudo')) {
      $pseudoClass: map-get($value, 'pseudo');
      &:#{$pseudoClass} {
        @include make-field-styles($value);
      }
    }
  }

  > * {
    flex-shrink: 0;
  }
}

.content,
.extra {
  padding-left: $form-field-space-between;
  padding-right: $form-field-space-between;

  &:last-child {
    margin-right: $form-field-last-extra-right;
  }

  &:first-child {
    padding-left: 0 !important;
  }
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap {
  word-wrap: anywhere;
}

.extra {
  white-space: nowrap;
  color: $form-field-color-extra;
}
