.rightHandleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .resizeButton {
    cursor: col-resize;
    width: 10px;
    z-index: 100;
  }
}

.container {
  display: flex;
  align-items: center;
}
