.drag {
  display: flex;
  align-items: center;
  cursor: pointer;

  .handle {
    opacity: 0;
  }

  &[data-dnd-dragging='true'] .handle,
  &:hover .handle {
    opacity: 1;
  }

  &.hidden {
    display: none;
  }
}
