@import '../../../../styles/abstracts/abstracts';

.radio {
  $radio-size: 1.6rem;

  display: inline-flex;
  align-items: center;

  input {
    position: absolute;
    left: -9999px;

    & + label {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 2.4rem;
      padding: 0.4rem 0 0.4rem 2.9rem;
      margin: 0;
      letter-spacing: 0.25px;
      font-size: $idoit-font-size-small;
      line-height: $idoit-line-height-small;
      cursor: pointer;
      border-radius: 50%;

      &.labeled {
        padding-right: 0.4rem;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0.4rem;
        transform: translate(0, -50%);
      }

      &::before {
        width: $radio-size;
        height: $radio-size;
        content: '';
        position: absolute;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
      }

      &::after {
        top: 50%;
        left: $radio-size * 0.5;
        width: $radio-size * 0.5;
        height: $radio-size * 0.5;
        border-radius: 50%;
      }
    }

    //
    // Regular
    //

    // enabled
    &:not(:disabled) + label {
      &::before {
        border-color: $idoit-neutral-700;
      }
    }

    // enabled + focus
    // (!) It is impossible state

    // enabled + hover
    &:not(:disabled):hover + label {
      &::before {
        background-color: $idoit-interaction-hover;
        box-shadow: 0 0 0 4px $idoit-interaction-hover;
        border-color: $idoit-neutral-900;
      }
    }

    // enabled + hover + focus - is impossible state
    // (!) It is impossible state

    // enabled + checked
    &:not(:disabled):checked + label {
      &::before {
        border-color: $idoit-interaction-regular;
      }

      &::after {
        background-color: $idoit-interaction-regular;
      }
    }

    // enable + checked + focus
    &:not(:disabled):checked:focus-visible + label {
      &::before {
        border-color: $idoit-focus-regular;
        box-shadow: 0 2px 4px rgba(166, 157, 140, 0.25);
      }

      &::after {
        background-color: $idoit-focus-regular;
      }
    }

    // enabled + checked + hover
    &:not(:disabled):checked:hover + label {
      &::after {
        background-color: $idoit-neutral-900;
      }

      &::before {
        border-color: $idoit-neutral-900;
      }
    }

    // enable + checked + focus + hover
    // (!) hover state should win
    &:not(:disabled):checked:focus-visible:hover + label {
      &::before {
        box-shadow: 0 0 0 4px $idoit-interaction-hover;
      }
    }

    //
    // Error
    //

    &:not(:disabled) + label.error,
    &:not(:disabled):hover + label.error,
    &:not(:disabled):focus-visible + label.error {
      &::before {
        border-color: $idoit-error-regular;
      }
    }

    &:not(:disabled):checked + label.error {
      &::after {
        background-color: $idoit-error-regular;
      }
    }

    // disabled
    &:disabled + label {
      cursor: not-allowed;
      color: $idoit-neutral-500;

      &::before {
        border-color: $idoit-neutral-300;
      }
    }

    &:disabled:checked + label {
      &::after {
        background-color: $idoit-neutral-300;
      }
    }
  }
}

.visuallyHidden {
  @include visuallyHidden();
}
