@import '../../../../../../styles/abstracts/abstracts';

.example {
  min-height: 300px;
}

.select {
  max-width: 600px;
}

.loading {
  @include fontSizeLarge();
  @include fontWeightSemiBold();

  color: $idoit-neutral-500;
  padding: space(3);

  svg {
    @include svg-fill($idoit-neutral-700);
  }
}

.labelContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;

  & > div {
    margin-right: 5px;
  }
}
