@import '../../../../styles/abstracts/abstracts';

.maxSize {
  width: 100%;
  height: 100%;
}

.cellWrapperStyle {
  @extend .maxSize;
  background: $idoit-neutral-100;
  border-color: $ui-kit-table-body-column-hover-color;
}

.container {
  background: $idoit-neutral-800;
}

.tooltipCell {
  height: 100%;
  width: 100%;
  align-items: center;
  line-height: 35px;
  max-width: 210px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
  pointer-events: auto;
}

.tooltipContainer {
  background: none;

  &:hover {
    background: $idoit-neutral-300 !important;
  }
}

.openIcon {
  margin-right: 5.5px;
}

.negativeOffset {
  left: -25px !important;
}
