@import '../../../../styles/abstracts/abstracts';

.piece {
  &:focus {
    path {
      stroke: $idoit-focus-regular;
      stroke-width: 2px;
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
    }
  }
}

.svg {
  overflow: inherit;
}

.donut {
  padding: 120px;
}
