@import '../../styles/abstracts/abstracts';

.badge {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0.3rem 0.4rem;
  font-size: $ui-kit-font-size-small;
  border-radius: $border-radius;
  cursor: default;

  &.light-green {
    background-color: $ui-kit-color-green-50;
    color: $ui-kit-color-green-500;
    * {
      @include svg-fill($ui-kit-color-green-500);
    }
    &.border {
      border: 1px solid $ui-kit-color-green-500;
    }
  }

  &.shadow {
    box-shadow: $box-shadow-sm;
  }

  &.green {
    color: $ui-kit-color-green-75;
    background-color: $ui-kit-color-green-500;
    * {
      @include svg-fill($ui-kit-color-green-75);
    }
    &.border {
      border: 1px solid $ui-kit-color-green-75;
    }
  }

  &.yellow {
    background-color: $ui-kit-color-yellow-50;
    color: $ui-kit-color-yellow-500;
    * {
      @include svg-fill($ui-kit-color-yellow-500);
    }
    &.border {
      border: 1px solid $ui-kit-color-yellow-500;
    }
  }
  &.violet {
    background-color: $ui-kit-color-violet-50;
    color: $ui-kit-color-violet-400;
    * {
      @include svg-fill($ui-kit-color-violet-400);
    }

    &.border {
      border: 1px solid $ui-kit-color-violet-400;
    }
  }
  &.bright-blue {
    background-color: $ui-kit-color-bright-blue-50;
    color: $ui-kit-color-light-blue-500;
    * {
      @include svg-fill($ui-kit-color-light-blue-500);
    }
    &.border {
      border: 1px solid $ui-kit-color-light-blue-500;
    }
  }
}
