@use 'sass:math';

$idoit-path-to-font: '../../assets/fonts/' !default;
$idoit-font-family: Inter,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  'Segoe UI',
  // Android
  Roboto,
  // Basic web fallback
  'Helvetica Neue',
  Arial,
  // Linux
  'Noto Sans',
  // Sans serif fallback
  sans-serif !default;

$idoit-root-font-size: 10px !default;

$idoit-font-size-small: 1.2rem !default;
$ui-kit-font-size-small: 1.2rem !default;
$idoit-font-size-regular: 1.3rem !default;
$idoit-font-size-large: 1.4rem !default;

$idoit-font-weight-normal: 400 !default;
$idoit-font-weight-semi-bold: 600 !default;

$idoit-line-height-small: math.div(1.6rem, $idoit-font-size-small) !default;
$idoit-line-height-regular: math.div(1.6rem, $idoit-font-size-regular) !default;
$idoit-line-height-large: math.div(2rem, $idoit-font-size-large) !default;

// Headings
$idoit-headings-margin-bottom: 1rem * 0.4 !default;
$idoit-headings-font-weight: $idoit-font-weight-semi-bold !default;

$idoit-h1-font-size: 2rem !default;
$idoit-h1-line-height: 2.4rem !default;
$idoit-h1-font-weight: $idoit-headings-font-weight !default;

$idoit-h2-font-size: 1.6rem !default;
$idoit-h2-line-height: 2rem !default;
$idoit-h2-font-weight: $idoit-headings-font-weight !default;

$idoit-h3-font-size: $idoit-h2-font-size !default;
$idoit-h3-line-height: $idoit-h2-line-height !default;
$idoit-h3-font-weight: $idoit-font-weight-normal !default;

$idoit-h4-font-size: $idoit-font-size-regular !default;
$idoit-h4-line-height: $idoit-line-height-regular !default;
$idoit-h4-font-weight: $idoit-font-weight-normal !default;

$idoit-h5-font-size: $idoit-font-size-regular !default;
$idoit-h5-line-height: $idoit-line-height-regular !default;
$idoit-h5-font-weight: $idoit-font-weight-normal !default;

$idoit-h6-font-size: $idoit-font-size-regular !default;
$idoit-h6-line-height: $idoit-line-height-regular !default;
$idoit-h6-font-weight: $idoit-font-weight-normal !default;

// Link
$ui-kit-link-color: $ui-kit-interaction-press !default;
$idoit-link-decoration: none !default;
$ui-kit-link-hover-color: $ui-kit-black !default;
$idoit-link-hover-decoration: underline !default;
