@import '../../../../styles/abstracts/abstracts';

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.previousButton {
  max-height: 24px;
  margin: 3px 0;
}

.paginationInput {
  font-size: $idoit-font-size-regular;
  font-weight: $idoit-font-weight-normal;
  padding: 0;
  max-width: 80px;
  min-height: 24px;
  min-width: 24px;
  height: 38px;
  margin: 0 5px;
}

.input {
  font-size: $idoit-font-size-regular !important;
  font-weight: $idoit-font-weight-normal !important;
  text-align: right;
  padding: 0 0 0 0.4rem !important;
}

.nextButton {
  max-height: 24px;
  margin: 3px 0;
}
