@import '../../../styles/abstracts/abstracts';

.btn {
  min-width: unset;
  border: 0px;
  border-radius: 0px;
  width: 49px;
  height: 40px;
  margin-bottom: 4px;

  &:hover {
    &:not(:disabled) {
      background-color: transparent !important;
      border: 2px solid #0c15b3 !important;
      color: $black !important;
    }
  }
}

.start {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: transparent !important;
}

.end {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: transparent !important;
}

.between {
  background: #eaf1ff;
  color: #414adc;
}

.end,
.start {
  border: 2px solid #8b8b8b !important;
}

.start,
.end,
.between {
  font-weight: $idoit-font-weight-semi-bold;
}

.start.active,
.end.active {
  background-color: #0c15b3 !important;
  color: #ffffff !important;

  &:not(:hover) {
    border-color: transparent !important;
  }
}

.after:hover {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.before:hover {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.after:hover,
.before:hover,
.between:hover {
  &:not(:disabled) {
    border: 2px solid #0c15b3 !important;
    background-color: transparent !important;
  }
}
