@import '../../styles/abstracts/abstracts';

$ui-kit-button__border-radius: 4px !default;
$ui-kit-button__font-weight: 500 !default;
$ui-kit-button__color: $ui-kit-neutral-700 !default;
$ui-kit-button__color--focus: $ui-kit-neutral-900 !default;
$ui-kit-button__color--disabled: $ui-kit-neutral-500 !default;
$ui-kit-button__color--loading: $ui-kit-neutral-700 !default;
$ui-kit-button__transparent-color: transparent !default;
$ui-kit-button__font-size--regular: $idoit-font-size-regular !default;
$ui-kit-button__line-height: $idoit-line-height-regular !default;
$ui-kit-button__transition: all 150ms ease-in-out !default;
$ui-kit-button__background-color: $ui-kit-white !default;
$ui-kit-button__contrast-background-color--hover: rgba($ui-kit-button__background-color, 0.88) !default;
$ui-kit-button__contrast-background-color--active: rgba($ui-kit-button__background-color, 0.75) !default;
$ui-kit-button__contrast-background-color--disabled: rgba($ui-kit-button__background-color, 0.75) !default;
$ui-kit-button__background-color--hover: rgba($ui-kit-neutral-900, 0.12) !default;
$ui-kit-button__background-color--focus: $ui-kit-focus-regular !default;
$ui-kit-button__background-color--disabled: rgba($ui-kit-neutral-900, 0.12) !default;
$ui-kit-button__background-color--active: rgba($ui-kit-neutral-900, 0.25) !default;
$ui-kit-button__background-color--loading: rgba($ui-kit-neutral-900, 0.24) !default;
$ui-kit-button__shadow--focus: 0 2px 4px rgba($ui-kit-focus-regular, 0.25) !default;
$ui-kit-button__spinner-color: $ui-kit-interaction-regular !default;
$ui-kit-button__border-color--disabled: transparent;
$ui-kit-button__border-color--loading: transparent;

$ui-kit-button-icon__color: $ui-kit-neutral-700 !default;
$ui-kit-button-icon__color--disabled: $ui-kit-neutral-500 !default;
$ui-kit-button-icon__color--focus: $ui-kit-neutral-900 !default;

$ui-kit-primary-button__background-color: $ui-kit-interaction-regular !default;
$ui-kit-primary-button__background-color--hover: $ui-kit-interaction-hover !default;
$ui-kit-primary-button__background-color--active: $ui-kit-interaction-press !default;
$ui-kit-primary-button__background-color--loading: rgba($ui-kit-interaction-press, 0.5) !default;
$ui-kit-primary-button__contrast-background-color--loading: #858ad9 !default;
$ui-kit-primary-button__color: $ui-kit-white !default;
$ui-kit-primary-button__color--hover: $ui-kit-interaction-regular !default;
$ui-kit-primary-button__color--active: $ui-kit-white !default;
$ui-kit-primary-button__shadow--hover: 0 2px 4px rgba(63, 123, 183, 0.16) !default;

$ui-kit-primary-icon__color: $ui-kit-white !default;
$ui-kit-primary-icon__color--hover: $ui-kit-interaction-regular !default;
$ui-kit-primary-icon__color--active: $ui-kit-white !default;
$ui-kit-primary-icon__color--loading: $ui-kit-white !default;

$ui-kit-secondary-button__border-color: rgba($ui-kit-neutral-900, 0.12) !default;
$ui-kit-secondary-icon__color: $ui-kit-brand-regular !default;

$ui-kit-outline-button__border-color: rgba($ui-kit-neutral-700, 0.12) !default;
$ui-kit-outline-button__border-color--active: rgba($ui-kit-neutral-900, 0.25) !default;

$ui-kit-ghost-button__background-color: rgba(255, 255, 255, 0) !default;
$ui-kit-ghost-button__border-color: transparent;
$ui-kit-ghost-button__color: $ui-kit-white !default;
$ui-kit-ghost-icon__color: $ui-kit-white !default;
$ui-kit-ghost-button-color--hover: $ui-kit-neutral-300 !default;
$ui-kit-ghost-button__border-color--hover: $ui-kit-neutral-300 !default;
$ui-kit-ghost-button__background-color--hover: $ui-kit-neutral-800 !default;
$ui-kit-ghost-button__shadow--hover: 0 2px 4px rgba(63, 123, 183, 0.16) !default;
$ui-kit-ghost-button__border-color--focus: $ui-kit-neutral-300 !default;
$ui-kit-ghost-button__background-color--active: rgba(255, 255, 255, 0) !default;
$ui-kit-ghost-button__border-color--active: $ui-kit-white !default;
$ui-kit-ghost-button-color--active: $ui-kit-white !default;
$ui-kit-ghost-button__background-color--disabled: rgba($ui-kit-neutral-800, 0.8) !default;
$ui-kit-ghost-button-color--disabled: $ui-kit-neutral-500 !default;
$ui-kit-ghost-button__border-color--disabled: transparent;

$ui-kit-violet-button__background-color: $ui-kit-color-violet-300 !default;
$ui-kit-violet-button__background-color--hover: $ui-kit-color-violet-400 !default;
$ui-kit-violet-button__background-color--active: $ui-kit-color-violet-500 !default;

.buttonBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3.2rem;
  min-width: 6rem;
  font-weight: $ui-kit-button__font-weight;
  font-size: $ui-kit-button__font-size--regular;
  line-height: $ui-kit-button__line-height;
  letter-spacing: 0.5px;
  padding: 0 0.8rem;
  border: 1px solid $ui-kit-button__transparent-color;
  border-radius: $ui-kit-button__border-radius;
  transition: $ui-kit-button__transition;
  background-color: $ui-kit-button__background-color;
  color: $ui-kit-button__color;
  outline: none;

  &:hover:not(:disabled, .disabled) {
    background-color: $ui-kit-button__background-color--hover;

    &.contrast {
      background-color: $ui-kit-button__contrast-background-color--hover;
    }
  }

  &:focus-visible {
    background-color: $ui-kit-button__background-color--focus;
    box-shadow: $ui-kit-button__shadow--focus;
    color: $ui-kit-button__color--focus;
    border-color: $ui-kit-button__transparent-color;

    @include svg-fill($ui-kit-button-icon__color--focus);
  }

  &:disabled,
  &.disabled {
    background-color: $ui-kit-button__background-color--disabled;

    &.contrast {
      background-color: $ui-kit-button__contrast-background-color--disabled;
    }

    color: $ui-kit-button__color--disabled;
    border-color: $ui-kit-button__border-color--disabled;

    &:not(.loading) {
      cursor: not-allowed;
    }
  }

  &:active:not(:disabled, .disabled),
  &.active {
    background-color: $ui-kit-button__background-color--active;

    &.contrast {
      background-color: $ui-kit-button__contrast-background-color--active;
    }
  }

  &.loading {
    cursor: progress;
    background-color: $ui-kit-button__background-color--loading;
    color: $ui-kit-button__color--loading;
    border-color: $ui-kit-button__border-color--loading;
  }

  svg {
    @include svg-fill($ui-kit-button-icon__color);
  }

  &:disabled,
  &.disabled {
    svg {
      @include svg-fill($ui-kit-button-icon__color--disabled);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &.left {
    padding: 0 0.4rem 0 0;
  }

  &.right {
    padding: 0 0 0 0.4rem;
  }

  &.spinner {
    margin: space(0.5);
  }
}

.spinner {
  color: $ui-kit-button__spinner-color;
}

.primary {
  background-color: $ui-kit-primary-button__background-color;
  color: $ui-kit-primary-button__color;

  svg {
    @include svg-fill($ui-kit-primary-icon__color);
  }

  &:hover:not(:disabled, .disabled) {
    &:not(.contrast),
    &.contrast {
      background-color: $ui-kit-primary-button__background-color--hover;
      color: $ui-kit-primary-button__color--hover;
      box-shadow: $ui-kit-primary-button__shadow--hover;

      svg {
        @include svg-fill($ui-kit-primary-icon__color--hover);
      }
    }
  }

  &:active:not(:disabled, .disabled),
  &.active {
    &:not(.contrast),
    &.contrast {
      background-color: $ui-kit-primary-button__background-color--active;
      color: $ui-kit-primary-button__color--active;

      svg {
        @include svg-fill($ui-kit-primary-icon__color--active);
      }
    }
  }

  &.loading {
    color: $ui-kit-primary-icon__color--loading;

    &:not(.contrast) {
      background-color: $ui-kit-primary-button__background-color--loading;
    }

    &.contrast {
      background-color: $ui-kit-primary-button__contrast-background-color--loading;
    }
  }

  .spinner {
    color: $ui-kit-primary-icon__color--loading;
  }
}

.secondary,
.text {
  &:hover:not(:disabled, .disabled) {
    border-color: $ui-kit-button__transparent-color;
  }

  &:active:not(:disabled, .disabled),
  &.active {
    border-color: $ui-kit-secondary-button__border-color;
  }
}

.secondary {
  border-color: $ui-kit-secondary-button__border-color;

  svg {
    @include svg-fill($ui-kit-secondary-icon__color);
  }
}

.outline {
  border-color: $ui-kit-outline-button__border-color;

  &:active:not(:disabled, .disabled),
  &.active {
    border-color: $ui-kit-outline-button__border-color--active;
  }
}
.violet {
  background-color: $ui-kit-violet-button__background-color;
  color: $ui-kit-white;
  border-color: transparent;
  &:not(:disabled, .disabled) .spinner {
    color: $ui-kit-white;
  }
  svg {
    @include svg-fill($ui-kit-white);
  }

  &:hover:not(:disabled, .disabled) {
    color: $ui-kit-white;
    background-color: $ui-kit-violet-button__background-color--hover;
  }

  &:active:not(:disabled, .disabled),
  &.active:not(:disabled, .disabled, :focus) {
    background-color: $ui-kit-violet-button__background-color--active;
  }
}

.ghost {
  background-color: $ui-kit-ghost-button__background-color;
  border: 2px solid $ui-kit-ghost-button__border-color;
  color: $ui-kit-ghost-button__color;

  svg {
    @include svg-fill($ui-kit-ghost-icon__color);
  }

  &:hover:not(:disabled, .disabled) {
    &:not(.contrast),
    &.contrast {
      color: $ui-kit-ghost-button-color--hover;
      background-color: $ui-kit-ghost-button__background-color--hover;
      border: 2px solid $ui-kit-ghost-button__border-color--hover;
      box-shadow: $ui-kit-ghost-button__shadow--hover;

      svg {
        @include svg-fill($ui-kit-ghost-button-color--hover);
      }
    }
  }

  &:active:not(:disabled, .disabled, .loading),
  &.active {
    &:not(.contrast, .loading),
    &.contrast {
      background-color: $ui-kit-ghost-button__background-color--active;
      color: $ui-kit-ghost-button-color--active;
      border: 2px solid $ui-kit-ghost-button__border-color--active;

      svg {
        @include svg-fill($ui-kit-primary-icon__color--active);
      }
    }
  }

  &:focus-visible {
    background-color: $ui-kit-button__background-color--focus;
    box-shadow: $ui-kit-button__shadow--focus;
    color: $ui-kit-button__color--focus;
    border: 2px solid $ui-kit-ghost-button__border-color--focus;

    @include svg-fill($ui-kit-button-icon__color--focus);
  }

  &:disabled,
  &.disabled {
    background-color: $ui-kit-ghost-button__background-color--disabled;
    color: $ui-kit-ghost-button-color--disabled;
    border-color: $ui-kit-ghost-button__border-color--disabled;

    &:not(.loading) {
      cursor: not-allowed;
    }
  }

  .spinner {
    color: $ui-kit-ghost-button-color--disabled;
  }
}
