@import '../../styles/abstracts/abstracts';

.small {
  @include fontSizeSmall();
}

.regular {
  @include fontSizeRegular();
}

.large {
  @include fontSizeLarge();
}

.normal {
  @include fontWeightNormal();
}

.semi-bold {
  @include fontWeightSemiBold();
}
