@import '../../../../../styles/abstracts/abstracts';

.menu {
  @include shadow('medium');

  max-height: 26.6rem;
  overflow: auto;
  max-width: 100%;
  outline: none;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: space(1) 0;
  background-color: $idoit-white;
}

.field {
  position: relative;
}

.trigger {
  border: none;
  background: none;
  outline: none;
  align-items: center;
  text-align: left;
  display: flex;
  color: $idoit-neutral-900;
  max-width: 100%;
  padding: 0;
  pointer-events: none;

  &.open {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-interaction-regular);
      }
    }
  }

  &:focus-within {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-neutral-700);
      }
    }
  }
}

.input:focus,
.input:focus-within,
.input:hover {
  padding-left: 14px;
}

.hidden {
  display: none;
}

.autosuggestionWrapper {
  position: absolute;

  .autosuggestionTransparent {
    color: transparent;
  }

  .autosuggestion {
    color: $idoit-neutral-500;
  }
}
