@import '../../../../../styles/abstracts/abstracts';

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: space(1) space(2);

  .tr,
  .thead {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid $ui-kit-neutral-200;
  }

  .td {
    padding-top: space(1);
    padding-bottom: space(1);
    flex: 1;
  }
}
