@import '../../styles/abstracts/abstracts';

.container {
  width: fit-content;

  &:focus {
    outline: none;
  }

  .menu {
    $shift: 8px;

    list-style: none;
    margin: 0;
    padding: $shift 0;
    background-color: $idoit-white;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid $idoit-neutral-100;
    border-radius: 4px;
    @include shadow('medium');
  }

  .size-m {
    min-width: 214px;
    max-width: 280px;
  }

  .size-l {
    min-width: 300px;
    max-width: 360px;
  }
}
