@import '../../../../styles/abstracts/abstracts';

.iconButton {
  width: 0;
  height: 0;
  opacity: 0;
  transition: background-color 0.15s linear;

  &:focus,
  &:hover {
    width: 32px;
    height: 32px;
    opacity: 1;
  }
}

td:focus,
td:hover,
td:focus-within {
  .iconButton {
    width: 32px;
    height: 32px;
    opacity: 1;
  }
}
