@import '../../../../styles/abstracts/abstracts';

.searchMinimized {
  max-width: 150px;
  transition: max-width 0.3s ease;
}

.searchExpanded {
  max-width: 350px;
  transition: max-width 0.3s ease;
}

.searchFieldEnterActive {
  width: 350px;
}

.searchFieldExitDone {
  width: 150px;
}

.resetButton {
  max-width: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;
  transition: max-width 300ms ease-in;
}

.resetButtonEnterActive {
  max-width: 0 !important;
}

.resetButtonExitDone {
  max-width: 0 !important;
}

.spinner {
  border: 0.18em solid $idoit-interaction-press;
  border-right-color: transparent;
}

.solid {
  background-color: rgba(33, 33, 33, 0.07);

  &:hover {
    background-color: rgba(33, 33, 33, 0.12);
  }
}
