.container {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 12px 6px;
  width: 100px;
  max-height: 72px;
  height: 72px;
}

.textContainer {
  max-height: 40px;
  padding-top: 12px;
}

.text {
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled:not(.loading) {
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}
