@import '../../../../styles/abstracts/abstracts';

.stepItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid $ui-kit-neutral-300;

  &.active,
  &.completed {
    border-color: $ui-kit-color-strong-blue-300;
  }

  &.xs {
    width: 16px;
    height: 16px;
  }

  &.sm {
    width: 24px;
    height: 24px;
  }

  &.md {
    width: 40px;
    height: 40px;
  }

  &.lg {
    width: 64px;
    height: 64px;
  }
}
