@import '../../styles/abstracts/abstracts';

$navigation-height: 6rem;
$navigation-background: $idoit-neutral-900;

.navigation {
  background-color: $navigation-background;
  height: $navigation-height;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 100;

  .navigationList {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    list-style: none;
  }

  .navigationItem {
    flex-shrink: 0;
    margin-right: space(4);
  }
}
