@import '../../../../styles/abstracts/abstracts';

@keyframes slideInFromLeft {
  0% {
    display: none;
    transform: translateX(-10rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
    display: block;
  }

  100% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.trigger {
  pointer-events: auto;
  width: 100%;
  height: 100%;

  .sliding,
  .showOnHover {
    display: none;
  }

  &:hover .showOnHover,
  &:focus-within .showOnHover,
  .active.showOnHover {
    display: block;
    opacity: 1;
    animation: 400ms ease-in-out 0s 1 appear;
  }

  &:hover .sliding,
  &:focus-within .sliding,
  .active.sliding {
    display: block;
    opacity: 1;
    transform: translateX(0);
    animation: 400ms ease-out 0s 1 slideInFromLeft;
  }
}
