@import '../../../styles/abstracts/abstracts';

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1041;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($idoit-white, 0.8);

  .spinner {
    color: $idoit-interaction-press;
    width: 90px;
    height: 90px;
    margin-bottom: 23px;
    border-width: 10px;
  }
}
