@import '../../../styles/abstracts/abstracts';
@import '~bootstrap/scss/mixins';

.modalHeader {
  height: 80px;
  min-height: 80px;
  padding: space(6);
  @include fontSizeRegular();
  @include fontWeightNormal();
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: $idoit-h3-font-size;
  font-weight: $idoit-h3-font-weight;
  line-height: $idoit-h3-line-height;
}

.closeIcon {
  cursor: pointer;
}
