@import '../../../../styles/abstracts/abstracts';

.content {
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 250ms ease-in;
  transition-delay: 150ms;
  flex-wrap: nowrap;
  display: flex;
  overflow: hidden;

  &:not(.visible) {
    opacity: 0;
    max-width: 0;
    max-height: 0;
  }

  > *:not(:first-child) {
    margin-left: space(2);
  }
}

:focus-within,
:hover {
  &:not([data-disabled='true']) > .content {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
  }
}
