@import '../../../styles/abstracts/abstracts';
@import '~bootstrap/scss/mixins';

.modalFooter {
  height: 80px;
  min-height: 80px;
  padding: space(6);
  @include fontSizeRegular();
  @include fontWeightNormal();
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
