.overflowContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
