@import '../../../../../styles/abstracts/abstracts';

$ui-kit-pulldown-item-selected-color: $ui-kit-interaction-press !default;
$ui-kit-pulldown-item-selected-background-color: $ui-kit-interaction-selected !default;
$ui-kit-pulldown-item-hover-background-color: $ui-kit-neutral-100 !default;

.menuItem {
  cursor: pointer;
  display: flex;
  color: $ui-kit-neutral-900;
  font-size: $idoit-font-size-large;
  font-weight: $idoit-font-weight-normal;
  line-height: $idoit-line-height-large;
  min-height: 4rem;
  align-items: center;
  padding: 0px space(3);
  justify-content: space-between;
}

.hoverItem {
  text-decoration: none;
  background-color: $ui-kit-pulldown-item-hover-background-color;
}

.selected {
  font-weight: $idoit-font-weight-semi-bold;

  &:not(.hoverItem) {
    background-color: $ui-kit-pulldown-item-selected-background-color;
    color: $ui-kit-pulldown-item-selected-color;
  }
}

.overflow {
  text-overflow: ellipsis;
}

.twoLines {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
