@import '../../../../styles/abstracts/abstracts';

$form-label-space: space(3.5);
$form-label-color: $idoit-neutral-900;
$form-label-required-color: $idoit-neutral-500;

.labelContainer {
  display: flex;
  align-items: center;
  padding-left: $form-label-space;
  width: 100%;
  min-height: 16px;
}

.label {
  overflow: hidden;
  color: $form-label-color;
  @include fontWeightSemiBold();
  @include fontSizeSmall();
}

.required {
  @include overline();
  line-height: 1.6rem;
  padding-left: $form-label-space;
  color: $form-label-required-color;
}
