.iconList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.icon {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20%;
  padding: 15px;
  margin-bottom: 20px;
}

.iconName {
  padding-top: 10px;
}
