@import '../../styles/abstracts/abstracts';

$external-link-variants: (
  'brand': $ui-kit-brand-regular,
  'interaction-press': $ui-kit-interaction-press,
  'white': $ui-kit-white,
  'black': $ui-kit-black,
  'regular': $ui-kit-neutral-700,
);

.externalLink {
  padding: 1px;

  @each $variantName, $value in $external-link-variants {
    &.#{$variantName} {
      color: $value;
    }
  }

  &:active {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px auto $ui-kit-focus-regular;
    color: $ui-kit-neutral-900;
  }

  &:hover {
    color: $ui-kit-neutral-900;
  }

  &.disabled {
    color: $ui-kit-neutral-500;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }
}
