.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  align-items: center;
}

.addSectionFirst {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 40px;
}

.marginRight {
  margin-right: 16px;
}

.largeSection {
  margin-right: 60px;
}

.mediumSection {
  margin-right: 40px;
}

.largeContainer {
  padding: 16px 24px;
  min-height: 80px;
}

.mediumContainer {
  padding: 4px 0;
  min-height: 48px;
}
