@import '../../styles/abstracts/abstracts';

.container {
  background-color: $ui-kit-neutral-300;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  &.horizontal {
    width: 100%;
    height: auto;
  }

  &.vertical {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}

.bar {
  transition: $transition-base;
  border-radius: inherit;
  background-color: $ui-kit-color-strong-blue-300;

  &.horizontal {
    height: 100%;
  }

  &.vertical {
    width: 100%;
  }
}

.xs {
  &.horizontal {
    height: 4px;
  }

  &.vertical {
    width: 4px;
    height: 100%;
  }
}

.sm {
  &.horizontal {
    height: 8px;
  }

  &.vertical {
    width: 8px;
    height: 100%;
  }
}

.md {
  &.horizontal {
    height: 16px;
  }

  &.vertical {
    width: 16px;
    height: 100%;
  }
}

.lg {
  &.horizontal {
    height: 24px;
  }

  &.vertical {
    width: 24px;
    height: 100%;
  }
}
