// Color Shades

// Strong Blue Shades
$ui-kit-color-strong-blue-50: #ecedfc !default;
$ui-kit-color-strong-blue-75: #b1b5f1 !default;
$ui-kit-color-strong-blue-100: #9196eb !default;
$ui-kit-color-strong-blue-200: #6169e2 !default;
$ui-kit-color-strong-blue-300: #414adc !default;
$ui-kit-color-strong-blue-400: #2e349a !default;
$ui-kit-color-strong-blue-500: #282d86 !default;

// Red Shades

$ui-kit-color-red-50: #ffebec !default;
$ui-kit-color-red-75: #ffabb1 !default;
$ui-kit-color-red-100: #ff8991 !default;
$ui-kit-color-red-200: #ff3341 !default;
$ui-kit-color-red-300: #e3000f !default;
$ui-kit-color-red-400: #9f000b !default;
$ui-kit-color-red-500: #8a0009 !default;

// Yellow Shades

$ui-kit-color-yellow-50: #fffcf0 !default;
$ui-kit-color-yellow-75: #fff5cc !default;
$ui-kit-color-yellow-100: #ffeb99 !default;
$ui-kit-color-yellow-200: #ffce07 !default;
$ui-kit-color-yellow-300: #ffbd01 !default;
$ui-kit-color-yellow-400: #ff9000 !default;
$ui-kit-color-yellow-500: #f27a01 !default;

// Green Shades

$ui-kit-color-green-50: #ecfaf3 !default;
$ui-kit-color-green-75: #afeacd !default;
$ui-kit-color-green-100: #8ee1b8 !default;
$ui-kit-color-green-200: #5ed59a !default;
$ui-kit-color-green-300: #3dcc85 !default;
$ui-kit-color-green-400: #2b8f5d !default;
$ui-kit-color-green-500: #257c51 !default;

// Bright Blue Shades

$ui-kit-color-bright-blue-50: #ecf8fc !default;
$ui-kit-color-bright-blue-75: #b1e1f1 !default;
$ui-kit-color-bright-blue-100: #91d4eb !default;
$ui-kit-color-bright-blue-200: #61c2e2 !default;
$ui-kit-color-bright-blue-300: #41b5dc !default;
$ui-kit-color-bright-blue-400: #2e7f9a !default;
$ui-kit-color-bright-blue-500: #286e86 !default;

// Violet Shades

$ui-kit-color-violet-50: #f0e9f9 !default;
$ui-kit-color-violet-75: #c0a6e5 !default;
$ui-kit-color-violet-100: #a681da !default;
$ui-kit-color-violet-200: #804bca !default;
$ui-kit-color-violet-300: #6626bf !default;
$ui-kit-color-violet-400: #471b86 !default;
$ui-kit-color-violet-500: #3e1775 !default;

// Gold Shades

$ui-kit-color-gold-50: #f5f4f2 !default;
$ui-kit-color-gold-75: #d7d3cb !default;
$ui-kit-color-gold-100: #c7c1b5 !default;
$ui-kit-color-gold-200: #aea696 !default;
$ui-kit-color-gold-300: #9e9480 !default;
$ui-kit-color-gold-400: #6f685a !default;
$ui-kit-color-gold-500: #605a4e !default;

// Light Blue Shades

$ui-kit-color-light-blue-50: #eaf1ff !default;
$ui-kit-color-light-blue-75: #bad1f3 !default;
$ui-kit-color-light-blue-100: #8eb6f3 !default;
$ui-kit-color-light-blue-200: #6fa3f2 !default;
$ui-kit-color-light-blue-300: #498cf2 !default;
$ui-kit-color-light-blue-400: #3362a9 !default;
$ui-kit-color-light-blue-500: #2d5594 !default;

// Dark Blue Shades

$ui-kit-color-dark-blue-50: #e7e8f7 !default;
$ui-kit-color-dark-blue-75: #9b9fe0 !default;
$ui-kit-color-dark-blue-100: #7277d3 !default;
$ui-kit-color-dark-blue-200: #353dc0 !default;
$ui-kit-color-dark-blue-300: #0c15b3 !default;
$ui-kit-color-dark-blue-400: #080f7d !default;
$ui-kit-color-dark-blue-500: #070d6d !default;

// Neutrals

$ui-kit-neutral-white: #ffffff !default;
$ui-kit-neutral-100: #eeeeee !default;
$ui-kit-neutral-200: #e4e4e4 !default;
$ui-kit-neutral-300: #cbcbcb !default;
$ui-kit-neutral-500: #8b8b8b !default;
$ui-kit-neutral-700: #5a5a5a !default;
$ui-kit-neutral-800: #000000 !default;
$ui-kit-neutral-900: #212121 !default;

// Basic colors
// Primary palette
$ui-kit-color-strong-blue-300: $ui-kit-color-strong-blue-300;
$ui-kit-color-neutral-900: $ui-kit-neutral-900;
$ui-kit-color-neutral-white: $ui-kit-neutral-white;

// Secondary color (accent color)

$ui-kit-secondary-red: $ui-kit-color-red-300;

// Tertiary Colors (accent colors)

$ui-kit-tertiary-yellow: $ui-kit-color-yellow-300;
$ui-kit-tertiary-bright-blue: $ui-kit-color-bright-blue-300;
$ui-kit-tertiary-green: $ui-kit-color-green-300;
$ui-kit-tertiary-violet: $ui-kit-color-violet-300;

// Functional

$ui-kit-color-functional-light-blue: $ui-kit-color-light-blue-50;
$ui-kit-color-functional-light-blue-75: $ui-kit-color-light-blue-75;
$ui-kit-color-functional-dark-blue: $ui-kit-color-dark-blue-300;
$ui-kit-color-functional-gold: $ui-kit-color-gold-300;

// Brand
$ui-kit-brand-regular: $ui-kit-color-red-300;
$ui-kit-brand-hover: $ui-kit-color-red-200;
$ui-kit-brand-press: $ui-kit-color-red-500;
$ui-kit-brand-active: $ui-kit-color-red-400;

// Interaction
$ui-kit-interaction-regular: $ui-kit-color-strong-blue-300;
$ui-kit-interaction-hover: $ui-kit-color-light-blue-75;
$ui-kit-interaction-press: $ui-kit-color-dark-blue-300;
$ui-kit-interaction-selected: $ui-kit-color-light-blue-50;

// Black and White
$ui-kit-white: $ui-kit-neutral-white !default;
$ui-kit-black: $ui-kit-neutral-900 !default;

// Success
$ui-kit-success-regular: $ui-kit-color-green-400;

// Warning
$ui-kit-warning-regular: $ui-kit-color-yellow-300;

// Error
$ui-kit-error-regular: $ui-kit-color-red-300;
$ui-kit-error-hover: $ui-kit-color-red-200;
$ui-kit-error-press: $ui-kit-brand-press;

// Focus
$ui-kit-focus-regular: $ui-kit-color-gold-300;

// Accent
$ui-kit-warning: $ui-kit-warning-regular;
$ui-kit-error: $ui-kit-brand-regular;
$ui-kit-success: $ui-kit-color-green-400;
$ui-kit-system: $ui-kit-black;

$ui-kit-theme: (
  'warning': $ui-kit-warning,
  'error': $ui-kit-error,
  'success': $ui-kit-success,
  'system': $ui-kit-system,
  'white': $ui-kit-white,
  'black': $ui-kit-black,
  'active': $ui-kit-interaction-regular,
  'neutral-100': $ui-kit-neutral-100,
  'neutral-200': $ui-kit-neutral-200,
  'neutral-300': $ui-kit-neutral-300,
  'neutral-500': $ui-kit-neutral-500,
  'neutral-700': $ui-kit-neutral-700,
  'neutral-900': $ui-kit-neutral-900,
);

:export {
  uiKitColorStrongBlue50: $ui-kit-color-strong-blue-50;
  uiKitColorStrongBlue75: $ui-kit-color-strong-blue-75;
  uiKitColorStrongBlue100: $ui-kit-color-strong-blue-100;
  uiKitColorStrongBlue200: $ui-kit-color-strong-blue-200;
  uiKitColorStrongBlue300: $ui-kit-color-strong-blue-300;
  uiKitColorStrongBlue400: $ui-kit-color-strong-blue-400;
  uiKitColorStrongBlue500: $ui-kit-color-strong-blue-500;

  uiKitColorRed50: $ui-kit-color-red-50;
  uiKitColorRed75: $ui-kit-color-red-75;
  uiKitColorRed100: $ui-kit-color-red-100;
  uiKitColorRed200: $ui-kit-color-red-200;
  uiKitColorRed300: $ui-kit-color-red-300;
  uiKitColorRed400: $ui-kit-color-red-400;
  uiKitColorRed500: $ui-kit-color-red-500;

  uiKitColorYellow50: $ui-kit-color-yellow-50;
  uiKitColorYellow75: $ui-kit-color-yellow-75;
  uiKitColorYellow100: $ui-kit-color-yellow-100;
  uiKitColorYellow200: $ui-kit-color-yellow-200;
  uiKitColorYellow300: $ui-kit-color-yellow-300;
  uiKitColorYellow400: $ui-kit-color-yellow-400;
  uiKitColorYellow500: $ui-kit-color-yellow-500;

  uiKitColorGreen50: $ui-kit-color-green-50;
  uiKitColorGreen75: $ui-kit-color-green-75;
  uiKitColorGreen100: $ui-kit-color-green-100;
  uiKitColorGreen200: $ui-kit-color-green-200;
  uiKitColorGreen300: $ui-kit-color-green-300;
  uiKitColorGreen400: $ui-kit-color-green-400;
  uiKitColorGreen500: $ui-kit-color-green-500;

  uiKitColorBrightBlue50: $ui-kit-color-bright-blue-50;
  uiKitColorBrightBlue75: $ui-kit-color-bright-blue-75;
  uiKitColorBrightBlue100: $ui-kit-color-bright-blue-100;
  uiKitColorBrightBlue200: $ui-kit-color-bright-blue-200;
  uiKitColorBrightBlue300: $ui-kit-color-bright-blue-300;
  uiKitColorBrightBlue400: $ui-kit-color-bright-blue-400;
  uiKitColorBrightBlue500: $ui-kit-color-bright-blue-500;

  uiKitColorViolet50: $ui-kit-color-violet-50;
  uiKitColorViolet75: $ui-kit-color-violet-75;
  uiKitColorViolet100: $ui-kit-color-violet-100;
  uiKitColorViolet200: $ui-kit-color-violet-200;
  uiKitColorViolet300: $ui-kit-color-violet-300;
  uiKitColorViolet400: $ui-kit-color-violet-400;
  uiKitColorViolet500: $ui-kit-color-violet-500;

  uiKitColorGold50: $ui-kit-color-gold-50;
  uiKitColorGold75: $ui-kit-color-gold-75;
  uiKitColorGold100: $ui-kit-color-gold-100;
  uiKitColorGold200: $ui-kit-color-gold-200;
  uiKitColorGold300: $ui-kit-color-gold-300;
  uiKitColorGold400: $ui-kit-color-gold-400;
  uiKitColorGold500: $ui-kit-color-gold-500;

  uiKitColorLightBlue50: $ui-kit-color-light-blue-50;
  uiKitColorLightBlue75: $ui-kit-color-light-blue-75;
  uiKitColorLightBlue100: $ui-kit-color-light-blue-100;
  uiKitColorLightBlue200: $ui-kit-color-light-blue-200;
  uiKitColorLightBlue300: $ui-kit-color-light-blue-300;
  uiKitColorLightBlue400: $ui-kit-color-light-blue-400;
  uiKitColorLightBlue500: $ui-kit-color-light-blue-500;

  uiKitColorDarkBlue50: $ui-kit-color-dark-blue-50;
  uiKitColorDarkBlue75: $ui-kit-color-dark-blue-75;
  uiKitColorDarkBlue100: $ui-kit-color-dark-blue-100;
  uiKitColorDarkBlue200: $ui-kit-color-dark-blue-200;
  uiKitColorDarkBlue300: $ui-kit-color-dark-blue-300;
  uiKitColorDarkBlue400: $ui-kit-color-dark-blue-400;
  uiKitColorDarkBlue500: $ui-kit-color-dark-blue-500;

  uiKitColorNeutral100: $ui-kit-neutral-100;
  uiKitColorNeutral200: $ui-kit-neutral-200;
  uiKitColorNeutral300: $ui-kit-neutral-300;
  uiKitColorNeutral500: $ui-kit-neutral-500;
  uiKitColorNeutral700: $ui-kit-neutral-700;
  uiKitColorNeutral900: $ui-kit-neutral-900;

  uiKitBrandRegular: $ui-kit-brand-regular;
  uiKitBrandHover: $ui-kit-brand-hover;
  uiKitBrandPress: $ui-kit-brand-press;

  uiKitInteractionRegular: $ui-kit-interaction-regular;
  uiKitInteractionHover: $ui-kit-interaction-hover;
  uiKitInteractionPress: $ui-kit-interaction-press;
  uiKitInteractionSelected: $ui-kit-interaction-selected;

  uiKitNeutral_100: $ui-kit-neutral-100;
  uiKitNeutral_200: $ui-kit-neutral-200;
  uiKitNeutral_300: $ui-kit-neutral-300;
  uiKitNeutral_500: $ui-kit-neutral-500;
  uiKitNeutral_700: $ui-kit-neutral-700;
  uiKitNeutral_900: $ui-kit-neutral-900;

  uiKitWhite: $ui-kit-white;
  uiKitBlack: $ui-kit-black;

  uiKitSuccessRegular: $ui-kit-success-regular;
  uiKitWarningRegular: $ui-kit-warning-regular;
  uiKitSystemRegular: $ui-kit-neutral-900;

  uiKitErrorRegular: $ui-kit-error-regular;
  uiKitErrorHover: $ui-kit-error-hover;
  uiKitErrorPress: $ui-kit-error-press;

  uiKitFocusRegular: $ui-kit-focus-regular;
}
