@import 'colors.module';

// Brand
$idoit-brand-regular: $ui-kit-color-red-300;
$idoit-brand-hover: $ui-kit-color-red-200;
$idoit-brand-active: $ui-kit-color-red-400;
$idoit-brand-press: $ui-kit-color-red-500;

// Interaction
$idoit-interaction-regular: $ui-kit-color-strong-blue-300;
$idoit-interaction-hover: $ui-kit-color-light-blue-75;
$idoit-interaction-press: $ui-kit-color-dark-blue-300;
$idoit-interaction-selected: $ui-kit-color-light-blue-50;

// Neutrals
$idoit-neutral-100: $ui-kit-neutral-100 !default;
$idoit-neutral-200: $ui-kit-neutral-200 !default;
$idoit-neutral-300: $ui-kit-neutral-300 !default;
$idoit-neutral-500: $ui-kit-neutral-500 !default;
$idoit-neutral-700: $ui-kit-neutral-700 !default;
$idoit-neutral-800: $ui-kit-neutral-800 !default;
$idoit-neutral-900: $ui-kit-neutral-900 !default;

// Black and White
$idoit-white: $ui-kit-neutral-white !default;
$idoit-black: $ui-kit-neutral-900 !default;

// Success
$idoit-success-regular: $ui-kit-success-regular;

// Warning
$idoit-warning-regular: #fdf546 !default;

// Error
$idoit-error-regular: $ui-kit-error-regular;
$idoit-error-hover: $ui-kit-error-hover;
$idoit-error-press: $ui-kit-error-press;

// Focus
$idoit-focus-regular: $ui-kit-focus-regular;

// Accent
$idoit-warning: $idoit-warning-regular !default;
$idoit-error: $idoit-error-regular !default;
$idoit-success: $idoit-success-regular !default;
$idoit-system: $idoit-neutral-900 !default;

$idoit-theme: (
  'warning': $idoit-warning,
  'error': $idoit-error,
  'success': $idoit-success,
  'system': $idoit-system,
  'white': $idoit-white,
  'black': $idoit-black,
  'active': $idoit-interaction-regular,
  'neutral-100': $idoit-neutral-100,
  'neutral-200': $idoit-neutral-200,
  'neutral-300': $idoit-neutral-300,
  'neutral-500': $idoit-neutral-500,
  'neutral-700': $idoit-neutral-700,
  'neutral-900': $idoit-neutral-900,
);

:export {
  idoitBrandRegular: $idoit-brand-regular;
  idoitBrandHover: $idoit-brand-hover;
  idoitBrandPress: $idoit-brand-press;

  idoitInteractionRegular: $idoit-interaction-regular;
  idoitInteractionHover: $idoit-interaction-hover;
  idoitInteractionPress: $idoit-interaction-press;
  idoitInteractionSelected: $idoit-interaction-selected;

  idoitNeutral_100: $idoit-neutral-100;
  idoitNeutral_200: $idoit-neutral-200;
  idoitNeutral_300: $idoit-neutral-300;
  idoitNeutral_500: $idoit-neutral-500;
  idoitNeutral_700: $idoit-neutral-700;
  idoitNeutral_900: $idoit-neutral-900;

  idoitWhite: $idoit-white;
  idoitBlack: $idoit-black;

  idoitSuccessRegular: $idoit-success-regular;
  idoitWarningRegular: $idoit-warning-regular;
  idoitSystemRegular: $idoit-neutral-900;

  idoitErrorRegular: $idoit-error-regular;
  idoitErrorHover: $idoit-error-hover;
  idoitErrorPress: $idoit-error-press;

  idoitFocusRegular: $idoit-focus-regular;
}

$idoit-outline-button__border-color--active: rgba($ui-kit-neutral-900, 0.25) !default;
$idoit-button__border-radius: 4px !default;
$idoit-utton__font-weight: 500 !default;
$idoit-button__color: $ui-kit-neutral-700 !default;
$idoit-button__color--focus: $ui-kit-neutral-900 !default;
$idoit-button__color--disabled: $ui-kit-neutral-500 !default;
$idoit-button__color--loading: $ui-kit-neutral-700 !default;
$idoit-button__transparent-color: transparent !default;
$idoit-button__font-size--regular: $idoit-font-size-regular !default;
$idoit-button__line-height: $idoit-line-height-regular !default;
$idoit-button__transition: all 150ms ease-in-out !default;
$idoit-button__background-color: $ui-kit-white !default;
$idoit-button__contrast-background-color--hover: rgba($idoit-button__background-color, 0.88) !default;
$idoit-button__contrast-background-color--active: rgba($idoit-button__background-color, 0.75) !default;
$idoit-button__contrast-background-color--disabled: rgba($idoit-button__background-color, 0.75) !default;
$idoit-button__background-color--hover: rgba($ui-kit-neutral-900, 0.12) !default;
$idoit-button__background-color--focus: $ui-kit-focus-regular !default;
$idoit-button__background-color--disabled: rgba($ui-kit-neutral-900, 0.12) !default;
$idoit-button__background-color--active: rgba($ui-kit-neutral-900, 0.25) !default;
$idoit-button__background-color--loading: rgba($ui-kit-neutral-900, 0.24) !default;
$idoit-button__shadow--focus: 0 2px 4px rgba($ui-kit-focus-regular, 0.25) !default;
$idoit-button__spinner-color: $ui-kit-interaction-regular !default;
$idoit-button__border-color--disabled: transparent;
$idoit-button__border-color--loading: transparent;

$idoit-button-icon__color: $ui-kit-neutral-700 !default;
$idoit-button-icon__color--disabled: $ui-kit-neutral-500 !default;
$idoit-button-icon__color--focus: $ui-kit-neutral-900 !default;

$idoit-primary-button__background-color: $ui-kit-interaction-regular !default;
$idoit-primary-button__background-color--hover: $ui-kit-interaction-hover !default;
$idoit-primary-button__background-color--active: $ui-kit-interaction-press !default;
$idoit-primary-button__background-color--loading: rgba($ui-kit-interaction-press, 0.5) !default;
$idoit-primary-button__contrast-background-color--loading: #858ad9 !default;
$idoit-primary-button__color: $ui-kit-white !default;
$idoit-primary-button__color--hover: $ui-kit-interaction-regular !default;
$idoit-primary-button__color--active: $ui-kit-white !default;
$idoit-primary-button__shadow--hover: 0 2px 4px rgba(63, 123, 183, 0.16) !default;

$idoit-primary-icon__color: $ui-kit-white !default;
$idoit-primary-icon__color--hover: $ui-kit-interaction-regular !default;
$idoit-primary-icon__color--active: $ui-kit-white !default;
$idoit-primary-icon__color--loading: $ui-kit-white !default;

$idoit-secondary-button__border-color: rgba($ui-kit-neutral-900, 0.12) !default;
$idoit-secondary-icon__color: $ui-kit-brand-regular !default;

$idoit-outline-button__border-color: rgba($ui-kit-neutral-700, 0.12) !default;
$idoit-outline-button__border-color--active: rgba($ui-kit-neutral-900, 0.25) !default;

$idoit-ghost-button__background-color: rgba(255, 255, 255, 0) !default;
$idoit-ghost-button__border-color: transparent;
$idoit-ghost-button__color: $ui-kit-white !default;
$idoit-ghost-icon__color: $ui-kit-white !default;
$idoit-ghost-button-color--hover: $ui-kit-neutral-300 !default;
$idoit-ghost-button__border-color--hover: $ui-kit-neutral-300 !default;
$idoit-ghost-button__background-color--hover: $ui-kit-neutral-800 !default;
$idoit-ghost-button__shadow--hover: 0 2px 4px rgba(63, 123, 183, 0.16) !default;
$idoit-ghost-button__border-color--focus: $ui-kit-neutral-300 !default;
$idoit-ghost-button__background-color--active: rgba(255, 255, 255, 0) !default;
$idoit-ghost-button__border-color--active: $ui-kit-white !default;
$idoit-ghost-button-color--active: $ui-kit-white !default;
$idoit-ghost-button__background-color--disabled: rgba($ui-kit-neutral-800, 0.8) !default;
$idoit-ghost-button-color--disabled: $ui-kit-neutral-500 !default;
$idoit-ghost-button__border-color--disabled: transparent;

$idoit-pulldown-item-selected-color: $ui-kit-interaction-press !default;
$idoit-pulldown-item-selected-background-color: $ui-kit-interaction-selected !default;
$idoit-pulldown-item-hover-background-color: $ui-kit-neutral-100 !default;

$idoit-table-header-row-height: 40px;
$idoit-table-header-column-min-width: 30px;
$idoit-table-header-column-width: 162px;
$idoit-table-header-column-color: transparent;
$idoit-table-header-column-hover-color: transparentize($ui-kit-neutral-900, 0.9);

$idoit-table-body-row-height: 40px;
$idoit-table-body-column-color: transparent;
$idoit-table-body-column-hover-color: transparentize($ui-kit-neutral-900, 0.76);
$idoit-table-body-column-max-width: 162px;
$idoit-table-footer-row-height: 48px;

$idoit-link-color: $ui-kit-interaction-press !default;
$idoit-link-hover-color: $ui-kit-black !default;
