@import '../../styles/abstracts/abstracts';

.container {
  height: 100%;
  padding-top: 3.2rem;
  flex: 1 1 auto;

  &.full {
    padding-right: 8.3333333%;
    padding-left: 8.3333333%;
  }

  &.content {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
