@import '../../styles/abstracts/abstracts';

body:has(.container) {
  padding: 0 !important;
}

:global(.sbdocs-preview) {
  .container {
    display: flex;
    height: calc(75vh - 2rem);
  }
}

.container {
  display: flex;
  //height: calc(100vh - 2rem);
  height: 100vh;
}

.first {
  border-right: 1px solid $idoit-neutral-300;
  overflow: auto;
}

.second {
  overflow: auto;
}

.sm {
  box-shadow: $box-shadow-sm;
}

.lg {
  box-shadow: $box-shadow-lg;
}

.md {
  box-shadow: $box-shadow;
}

.none {
  box-shadow: none;
}
