@import '../../../../../../styles/abstracts/abstracts';

.example {
  min-height: 300px;
}

.select {
  max-width: fit-content;
  min-width: 400px;
}

.label {
  padding-left: space(2);
  text-overflow: ellipsis;
  overflow: hidden;
}

.labelContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.loading {
  @include fontSizeLarge();
  @include fontWeightSemiBold();

  color: $idoit-neutral-500;
  padding: space(3);

  svg {
    @include svg-fill($idoit-neutral-700);
  }
}
