.textarea {
  background: transparent;
  border: none;
  outline: none;
  min-width: 100%;
  max-width: 100%;
  padding: 9px 0 0 0;
}

.textAreaContainer {
  flex-direction: column;
}

.noResize {
  resize: none;
}

.readOnly {
  cursor: default;
  pointer-events: none;
}
