@import '../../../../../styles/abstracts/abstracts';

.group {
  @include fontWeightSemiBold();

  color: $idoit-neutral-900;
  padding: space(4) space(3) space(3) space(3);
}

.line {
}

.scrollList {
  @include shadow('medium');

  max-height: 26.6rem;
  outline: none;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: space(1) 0;
  background-color: $idoit-white;
}
