@import '../../../../styles/abstracts/abstracts';

$form-underline-space: space(3.5);
$form-underline-color: $idoit-neutral-700;

.underline {
  @include fontSizeSmall();

  align-items: center;
  display: flex;
  color: $form-underline-color;
  letter-spacing: 0.25px;
  padding-left: $form-underline-space;
  width: 100%;
  white-space: nowrap;
}

.underlineLeft {
  flex-grow: 1;
}
