@import '../../../styles/abstracts/abstracts';

.cell-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 space(3.5);
  border: 1px solid transparent;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.muted {
    color: $idoit-neutral-700;
  }

  &.nowrap {
    white-space: nowrap;
  }

  [role='gridcell']:focus & {
    border-color: $idoit-focus-regular;
    border-width: 2px;
    padding: 0 space(3.25);
  }
}
