.container {
  position: relative;
  display: inline-block;
}

.indicator {
  position: absolute;
}

.left.offset {
  left: 0;
  transform: translate(-50%, -50%);
}
.middle.offset {
  left: 50%;
  transform: translate(-50%, -50%);
}
.right.offset {
  left: 100%;
  transform: translate(-50%, -50%);
  right: unset;
}

.top.offset {
  top: 0;
  transform: translate(-50%, -50%);
}
.center.offset {
  top: 50%;
  transform: translate(-50%, -50%);
}
.bottom.offset {
  transform: translate(-50%, -50%);
  top: 100%;
  bottom: unset;
}

.left {
  left: 0;
  transform: translate(0, 0);
}
.middle {
  left: 50%;
  transform: translate(-50%, 0);
}
.right {
  left: unset;
  right: 0;
  transform: translate(0, 0);
}

.top {
  top: 0;
}
.center {
  top: 50%;
  transform: translate(0, -50%);
}
.bottom {
  bottom: 0;
}
