@import '../../styles/abstracts/abstracts';

.container {
  width: fit-content;
  height: 100%;

  .button {
    border: none;
    border-radius: 0;
    height: 100%;
    max-width: 160px;
    padding: 0 2.4rem;

    .icon {
      padding-left: 0;
      margin-left: 1.2rem;
    }
  }

  .button.open {
    background-color: $idoit-neutral-300;
    color: $idoit-neutral-900;

    &:hover,
    :focus-within {
      background-color: $idoit-neutral-300;
      color: $idoit-neutral-900;
    }

    &:focus {
      background-color: $idoit-focus-regular;
      color: $idoit-neutral-900;
    }

    .icon {
      svg {
        @include svg-fill($idoit-neutral-900);
      }
    }
  }

  .button:not(.open) {
    background-color: $idoit-neutral-900;
    color: $idoit-white;

    &:hover,
    &:focus,
    :focus-within {
      background-color: $idoit-neutral-800;
      color: $idoit-neutral-100;
    }

    &:focus {
      background-color: $idoit-focus-regular;
      color: $idoit-neutral-900;

      .icon {
        svg {
          @include svg-fill($idoit-neutral-900);
        }
      }
    }

    .icon {
      svg {
        @include svg-fill($idoit-neutral-100);
      }
    }
  }
}
