@import '../../styles/abstracts/abstracts';

.image {
  border-radius: 50%;
  padding: 10px;
  background-color: $ui-kit-white;
}

.badge {
  position: absolute;
  left: 5px;
  top: 5px;
}

.fiveLines {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.textVertical {
  text-align: end;
  margin: 0;
  font-weight: bold;
}
