@import '../../styles/abstracts/abstracts';

$card-border-recommended-color: $ui-kit-color-violet-400 !default;
$card-border-active-color: $ui-kit-interaction-regular !default;
$card-border-default-color: $ui-kit-neutral-500 !default;
$card-border-focused-color: $ui-kit-focus-regular !default;

$card-border-recommended-width: 2px !default;
$card-border-active-width: 2px !default;
$card-border-default-width: 1px !default;
$card-border-focused-width: 2px !default;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: $border-radius;
  &.vertical {
    gap: 1.6rem;
    max-width: 240px;
    padding: 0 0 1.6rem 0;
  }

  &.horizontal {
    flex-direction: row;
    min-height: unset;
    width: auto;
    border-radius: $border-radius;
    padding-left: 0;
  }

  &.recommended {
    outline: $card-border-recommended-width solid $card-border-recommended-color;
  }

  &.active {
    outline: $card-border-active-width solid $card-border-active-color;
  }

  &.has-border {
    outline: $card-border-default-width solid $card-border-default-color;
  }
  &:focus-visible {
    outline: $card-border-focused-width solid $card-border-focused-color;
  }

  &.md {
    box-shadow: $box-shadow-sm;
  }

  &.lg {
    box-shadow: $box-shadow-lg;
  }
}
