@import '../../../../styles/abstracts/abstracts';

.item {
  [data-dnd-type='handle'] {
    position: absolute;
    z-index: 1;
  }

  &:focus-within {
    [data-dnd-type='handle'] {
      opacity: 1;
    }
  }
}

.dropArea {
  height: 0;
  transition: height 250ms ease-in;

  &[data-dnd-over='true'] {
    height: 4rem;
  }
}
