@import '../../styles/abstracts/_abstracts.scss';

.icon {
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  svg {
    stroke: none;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

@each $color, $value in $idoit-theme {
  .path-fill-#{$color} {
    @include svg-fill($value);
  }
}

span.icon {
  display: inline-flex;
}

div.icon {
  display: flex;
}

.pointer {
  cursor: pointer;
}
