@import '../../styles/abstracts/abstracts';

// Implement custom style for the datepicker.
$datepicker__background-color: $idoit-white;
$datepicker__border-color: $idoit-neutral-200;
$datepicker__highlighted-color: $idoit-interaction-selected; // Not used at the moment.
$datepicker__muted-color: $idoit-neutral-500;
$datepicker__selected-color: $idoit-interaction-selected;
$datepicker__text-color: $idoit-neutral-900;
$datepicker__header-color: $idoit-neutral-900;

$datepicker__border-radius: $border-radius;
$datepicker__day-margin: 0;
$datepicker__font-size: $idoit-font-size-regular;
$datepicker__font-family: $idoit-font-family;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0;
$datepicker__navigation-size: 0.45rem !default;

.nativeDatePicker {
  display: none;
}

.i-datepicker {
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
  }
}

.datepicker {
  background-color: $datepicker__background-color;
  border: none;
  box-shadow: $box-shadow-lg;
  min-width: 312px;
  border: none !important;

  .year-select,
  .month-select {
    margin: 0 0.4rem;
    text-align: left;

    .menu-component {
      min-width: auto;
    }
  }

  .year-select {
    width: 84px !important;
  }

  .month-select {
    width: 120px !important;
  }

  :global(.react-datepicker__day--today) {
    font-weight: $idoit-font-weight-normal;
  }

  :global(.react-datepicker__aria-live) {
    display: none;
  }

  :global(.react-datepicker__day) {
    text-align: center;

    &:hover {
      background: $idoit-neutral-100;
    }
  }

  :global(.react-datepicker__day--selected) {
    background-color: $idoit-interaction-selected;
    color: $idoit-interaction-regular;
    font-weight: $idoit-font-weight-semi-bold;

    &:hover {
      color: $idoit-neutral-900;
      background-color: transparentize($idoit-neutral-900, 0.94%);
    }
  }

  :global(.react-datepicker__day--in-selecting-range) {
    background-color: $idoit-interaction-selected;
    color: $idoit-interaction-regular;
    font-weight: $idoit-font-weight-semi-bold;

    &:hover {
      color: $idoit-neutral-900;
      background-color: transparentize($idoit-neutral-900, 0.94%);
    }
  }

  :global(.react-datepicker__day--in-range) {
    background-color: $idoit-interaction-selected;
    color: $idoit-interaction-regular;
    font-weight: $idoit-font-weight-semi-bold;

    &:hover {
      color: $idoit-neutral-900;
      background-color: transparentize($idoit-neutral-900, 0.94%);
    }
  }

  :global(.react-datepicker__day--outside-month) {
    color: $idoit-neutral-500;
  }

  :global(.react-datepicker__month-text) {
    width: 40px;
    height: 40px;
    padding: 1rem 0;
    font-size: $idoit-font-size-regular;
    line-height: $idoit-line-height-regular;
    border: 2px solid transparent;
  }

  :global(.react-datepicker__year-text) {
    width: 40px;
    height: 40px;
    padding: 1rem 0;
    font-size: $idoit-font-size-regular;
    line-height: $idoit-line-height-regular;
    border: 2px solid transparent;
  }

  :global(.react-datepicker__quarter-text) {
    width: 40px;
    height: 40px;
    padding: 1rem 0;
    font-size: $idoit-font-size-regular;
    line-height: $idoit-line-height-regular;
    border: 2px solid transparent;
  }

  :global(.react-datepicker__current-month) {
    font-size: 1.54rem;
    font-family: $datepicker__font-family;
  }

  :global(.react-datepicker__header) {
    background: $datepicker__background-color;
    border: none;
    padding-right: 0;
    padding-left: 0;
    font-size: $datepicker__font-size;
    padding-top: 1.4rem;
  }

  :global(.react-datepicker__month) {
    padding: 1rem 1.4rem 1.4rem 1.4rem;
    border-top: 1px solid $datepicker__border-color;
  }

  :global(.react-datepicker__day-names) {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  :global(.react-datepicker__day--keyboard-selected) {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;

    &:hover {
      background-color: inherit;
    }
  }

  :global(.react-datepicker__week) {
    display: flex;
    justify-content: center;
  }

  :global(.react-datepicker__input-time-container) {
    padding: 0 16px 16px 16px;
  }

  :global(div.react-datepicker-time__input) {
    width: 100%;
    min-height: 40px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid $datepicker__border-color;
    border-radius: 4px;
  }

  :global(input.react-datepicker-time__input) {
    width: 100%;
    min-height: 40px;
    border: none;
  }

  :global(div.react-datepicker-time__caption) {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bolder;
  }

  .dayBlock {
    width: 40px;
    height: 40px;
    padding: 1rem 0;
    font-size: $idoit-font-size-regular;
    line-height: $idoit-line-height-regular;
    border: 2px solid transparent;
    border-radius: $border-radius;
    margin: 0;

    &:focus {
      border-color: $idoit-focus-regular;
      box-shadow: $box-shadow-sm;
      outline: none;
    }
  }
}
