.headerContainer {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.iconButton {
  margin: auto;
}

.selectField {
  margin: 0 5px;
}

.maxWidth100 {
  max-width: 100px;
}

.mrLeft2 {
  margin-left: 2px !important;
}

.mrRight2 {
  margin-right: 2px !important;
}
