@import '../../../styles/abstracts/abstracts';

.container {
  display: flex;
}

.item {
  border: transparent;
  border-radius: 0;
  border-bottom: 1px solid $idoit-neutral-200;
  padding-bottom: 1px;

  &.first {
    border-top-left-radius: $border-radius;
  }

  &.last {
    border-top-right-radius: $border-radius;
  }
}

.activeState {
  &:not(:hover):not(:focus-visible):not(.disabled) {
    background-color: $white;
  }

  &:focus-visible {
    background-color: $idoit-focus-regular;
  }

  color: $idoit-neutral-900;
  padding-bottom: 0;
  border-bottom: 2px solid $idoit-neutral-900 !important;
}
