@import '../../../../../styles/abstracts/abstracts';

[data-keyboard='true'] .item {
  &:focus:not(.pressed) {
    border: 2px solid $idoit-focus-regular;
  }

  &:focus:not(.pressed, .disabled) {
    font-weight: $font-weight-bold;
  }
}

.item {
  cursor: pointer;
  display: flex;
  color: $idoit-neutral-900;
  font-size: $idoit-font-size-large;
  font-weight: $idoit-font-weight-normal;
  line-height: $idoit-line-height-large;
  border: 2px solid transparent;
  min-height: 40px;
  align-items: center;
  padding: 0.6rem 2.4rem;
  justify-content: space-between;
  position: relative;
  outline: none;

  > * {
    margin-right: 0.8rem;
  }

  &.only-show-icon-on-hover {
    > .i-icon {
      display: none;
    }
  }

  svg {
    @include svg-fill($idoit-neutral-700);
    display: block;
  }

  .icon {
    pointer-events: none;
  }

  &:hover:not(.disabled) {
    text-decoration: none;
    background-color: $idoit-neutral-200;
  }

  &:hover.only-show-icon-on-hover,
  &.hover.only-show-icon-on-hover {
    > .i-icon {
      display: block;
    }
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
  }

  &.pressed:not(.disabled) {
    > .checkbox {
      :before {
        background-color: $idoit-interaction-regular !important;
        border-color: $idoit-interaction-regular !important;
      }

      svg {
        fill: $idoit-white;
      }
    }

    > .selectItem {
      @include svg-fill($idoit-neutral-700);
    }
  }

  &:hover:not(.disabled, .selected, .pressed) {
    > .checkbox {
      background-color: $idoit-interaction-hover;

      :before {
        border-color: $black;
      }
    }
  }

  &.pressed {
    background-color: $idoit-neutral-300;
    font-weight: $font-weight-bold;

    .checkbox {
      svg {
        @include svg-fill($idoit-white);
      }
    }
  }

  .text {
    flex-grow: 1;
    min-width: 15px;
  }
}

.shortcut {
  font-size: $idoit-font-size-regular;
  line-height: $idoit-line-height-regular;
  color: $idoit-neutral-700;
  margin-left: 1.6rem;
  display: flex;
  align-items: center;
}

.disabled {
  color: $idoit-neutral-500;
  cursor: not-allowed;

  .checkbox {
    @include svg-fill(transparent);
  }
}

.twoLines {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  flex-grow: 1;
}

.disabled {
  svg {
    @include svg-fill($idoit-neutral-300);
  }
}

.selectItem {
  pointer-events: none;

  svg {
    @include svg-fill(transparent);
  }

  &.selectedSingle {
    svg {
      @include svg-fill($idoit-neutral-700);
    }
  }

  &.disabledIcon {
    svg {
      @include svg-fill($idoit-neutral-500);
    }
  }
}
