@import '../../../../styles/abstracts/abstracts';

$form-error-color: $idoit-white;
$form-error-background: $idoit-error;

.error {
  @include fontSizeSmall();
  color: $form-error-color;
  background-color: $form-error-background;
  border-radius: space(1);
  padding: space(0.5) space(1);
  margin: space(-0.5) space(3.5) 0 space(3.5);
}

.sticky {
  position: absolute;
}
