@import '../../../../styles/abstracts/abstracts';

@keyframes slideInFromLeft {
  0% {
    transform: translateX(calc(100% - 1.6rem));
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

.sliding {
  display: flex;
  position: absolute;
  right: 0;
  top: space(2);
  align-items: baseline;
  z-index: 1;
  margin: space(2);
  animation: 300ms ease-out 0s 1 slideInFromLeft;
  transform: translateX(100%);
}
