@import '../../styles/abstracts/abstracts';

.collapse {
  overflow: hidden;
}

.collapseSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: space(2) 0;
  @include border('top');
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.collapseButton {
  min-width: 8.5rem;
  margin-left: space(4);
  justify-content: flex-end;
}

.triggerIcon {
  transition: transform 150ms linear;
  transform-origin: 50% 50%;

  &.active {
    transform: rotate(180deg);
  }
}

.collapseDetails {
  padding: space(2) 0;
}
