@use 'sass:math';

@import '../../styles/abstracts/abstracts';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
  background-color: transparentize($idoit-neutral-700, 0.5);
  transition: $transition-base;

  &.state-entered {
    opacity: 1;
  }

  &.state-entering,
  &.state-exiting,
  &.state-exited {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  transition: $transition-base;

  &.state-entered {
    opacity: 1;
    top: 0;
  }

  &.state-entering,
  &.state-exiting,
  &.state-exited {
    opacity: 0;
    top: 60px;
  }

  .modalDialog {
    position: static;
    width: auto;
    margin: 60px auto 0;
    pointer-events: none;
    max-height: 85%;
    height: calc(100% - 30px);

    &.loading {
      &,
      .modalContent {
        position: relative;
      }
    }

    &.size-s {
      width: percentage(math.div(3, 12));
    }

    &.size-m {
      width: percentage(math.div(4, 12));
    }

    &.size-l {
      width: percentage(math.div(5, 12));
    }

    &.size-xl {
      width: percentage(math.div(8, 12));
    }

    &.size-xxl {
      width: percentage(math.div(10, 12));
    }

    .modalContent {
      position: static;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      color: $body-color;
      pointer-events: auto;
      background-color: $idoit-white;
      background-clip: padding-box;
      border: none;
      border-radius: $border-radius;
      @include shadow('medium');
      outline: 0;
    }
  }
}
