@import '../../../../styles/abstracts/abstracts';

.container {
  display: flex;
  align-items: center;
}

.confirmButton {
  margin-right: space(1);
}

.btn {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.05));
}
