@import '../../../../styles/abstracts/abstracts';

.content {
  flex-grow: 1;
  padding: space(2) 0;
}

.overflow,
.overflow > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-selected='true']:not([data-disabled='true']) {
  .content {
    @include fontWeightSemiBold();
    color: $ui-kit-interaction-regular;
  }

  &:hover .content {
    color: $ui-kit-neutral-900;
  }
}

[data-disabled='true'] .content {
  background-color: $ui-kit-neutral-200;
  color: $ui-kit-neutral-700;
}
