@import '../../../../styles/abstracts/abstracts';

.markdown {
  box-shadow: none;

  :global(.w-md-editor-toolbar) {
    border-bottom: 0;
    padding-bottom: space(6);

    ul {
      display: flex;
      align-items: center;
    }
  }

  :global(.w-md-editor-content) {
    display: flex;
    gap: space(6);
  }

  :global(.w-md-editor-text) {
    min-height: 100% !important;
  }

  :global(.w-md-editor-input) {
    border-radius: $border-radius;
    border: 1px solid $ui-kit-neutral-300;
    padding: 2px 13px;
    position: static;

    &:hover {
      border-color: $idoit-neutral-300;
      border-width: 2px;
      padding: 1px 12px;
    }

    &:focus-within {
      border-color: #414adc;
      border-width: 2px;
      padding: 1px 12px;
      box-shadow: rgba($ui-kit-interaction-press, 0.16);
    }
  }

  :global(.w-md-editor-preview) {
    box-shadow: none;
    position: static;
  }
}
