$ui-kit-table-header-row-height: 40px;
$ui-kit-table-header-column-min-width: 30px;
$ui-kit-table-header-column-width: 162px;
$ui-kit-table-header-column-color: transparent;
$ui-kit-table-header-column-hover-color: transparentize($ui-kit-neutral-900, 0.9);

$ui-kit-table-body-row-height: 40px;
$ui-kit-table-body-column-color: transparent;
$ui-kit-table-body-column-hover-color: transparentize($ui-kit-neutral-900, 0.76);
$ui-kit-table-body-column-max-width: 162px;

$ui-kit-table-footer-row-height: 48px;
