@import '../../../styles/abstracts/abstracts';

.container {
  display: flex;

  & > :not(:first-child) {
    .item,
    &.item {
      border-radius: 0;
    }
  }

  & > :last-child {
    .item,
    &.item {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  & > :first-child {
    .item,
    &.item {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  & > :last-child {
    .item,
    &.item {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  & > :not(:last-child) {
    .item.primary,
    &.item.primary {
      border-top: 1px transparent;
      border-bottom: 1px transparent;
      border-right: 1px solid $idoit-white;
    }

    .item.secondary,
    &.item.secondary {
      border-right: none;
    }

    .item.text,
    &.item.text {
      border-right: 1px solid $idoit-neutral-200;
      border-top: 1px transparent;
      border-bottom: 1px transparent;
    }
  }
}
