@import '../../styles/abstracts/abstracts';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.drawerBackdrop {
  position: fixed;
  cursor: default;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: $zindex-modal;
  height: 100%;
  overflow: auto;
  transition: $transition-base;
  background-color: $idoit-white;
  box-shadow: $box-shadow;
  outline: none;

  &.state-entered {
    transform: translateX(0);
  }

  &.state-entering,
  &.state-exiting,
  &.state-exited {
    transform: translateX(100%);
  }
}
