.expandIcon {
  pointer-events: none;
}

.expandButton {
  width: 65px !important;
  text-align: center;
}

.expandHeader {
  padding: 0.2rem 1.4rem 0 1.4rem !important;
  width: 65px !important;
  text-align: left;
}

.headerTitle {
  display: flex !important;
  align-items: center;
}

.headerWidth {
  width: 215px !important;
  border-right: none !important;
  border-left: none !important;
}

.noBorder {
  border-bottom: none !important;
}
