@import '../../styles/abstracts/abstracts';

.container {
  width: fit-content;

  .button {
    width: 2.4rem;
    height: 2.4rem;
    min-width: 0;
    min-height: 0;
    background-color: $idoit-brand-regular;
    font-weight: $font-weight-bold;
    padding: 7px 3px;
    border-radius: 50%;

    &:active.open,
    &:active:not(.open),
    :focus-within {
      background-color: $idoit-brand-hover;
    }

    &:focus:not(.open),
    &:focus.open {
      background-color: $idoit-focus-regular;
      color: $idoit-neutral-900;
      outline: 4px solid $idoit-neutral-300;
    }

    &:hover:not(.open),
    &:hover.open {
      background-color: $idoit-brand-regular;
      color: $idoit-white;
      outline: 4px solid $idoit-brand-active;
    }
  }

  .button.open {
    background-color: $idoit-brand-hover;
  }
}
