@import '../../vendors/_bootstrap-custom.scss';

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + '.woff2') format('woff2'), url($path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

//
// Headlines
//

@mixin headline() {
  margin-bottom: $idoit-headings-margin-bottom;
}

@mixin h1() {
  @include headline();
  font-size: $idoit-h1-font-size;
  font-weight: $idoit-h1-font-weight;
  line-height: $idoit-h1-line-height;
}

@mixin h2 {
  @include headline();
  font-size: $idoit-h2-font-size;
  font-weight: $idoit-h2-font-weight;
  line-height: $idoit-h2-line-height;
}

@mixin h3 {
  @include headline();
  font-size: $idoit-h3-font-size;
  font-weight: $idoit-h3-font-weight;
  line-height: $idoit-h3-line-height;
}

@mixin h4 {
  @include headline();
  font-size: $idoit-h4-font-size;
  font-weight: $idoit-h4-font-weight;
  line-height: $idoit-h4-line-height;
}

@mixin h5 {
  @include headline();
  font-size: $idoit-h5-font-size;
  font-weight: $idoit-h5-font-weight;
  line-height: $idoit-h5-line-height;
}

@mixin h6 {
  @include headline();
  font-size: $idoit-h6-font-size;
  font-weight: $idoit-h6-font-weight;
  line-height: $idoit-h6-line-height;
}

//
// Caption
//

@mixin caption() {
  text-transform: capitalize;
  font-size: $idoit-font-size-small;
  line-height: 2.4rem;
  letter-spacing: 0.4px;
}

//
// Overline
//

@mixin overline() {
  text-transform: uppercase;
  font-size: $idoit-root-font-size;
  line-height: 2.4rem;
  letter-spacing: 1.5px;
}

//
// Text Utils
//

@mixin fontSizeSmall {
  font-size: $idoit-font-size-small;
}

@mixin fontSizeRegular {
  font-size: $idoit-font-size-regular;
}

@mixin fontSizeLarge {
  font-size: $idoit-font-size-large;
}

@mixin fontWeightNormal {
  font-weight: $idoit-font-weight-normal;
}

@mixin fontWeightSemiBold {
  font-weight: $idoit-font-weight-semi-bold;
}

//
// SVG
//

@mixin svg-fill($color) {
  // Fill areas which have no defined stroke width.
  :not([stroke-width]),
  [stroke-width='0'] {
    fill: $color;
  }

  // Stroke areas which have a defined stroke width.
  [stroke-width]:not([stroke-width='0']) {
    stroke: $color;
  }
}

//
// Accessibility
//

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//
// Decor
//

@mixin border($side: null, $color: $idoit-neutral-200) {
  @if $side != null {
    border-#{$side}: 1px solid $color;
  } @else {
    border: 1px solid $color;
  }
}

//
// Breakpoints
//

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1440px,
  xl: 1920px,
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

@mixin shadow($size: 'small') {
  @if $size == 'small' {
    box-shadow: $box-shadow-sm;
  } @else if $size == 'medium' {
    box-shadow: $box-shadow;
  } @else if $size == 'large' {
    box-shadow: $box-shadow-lg;
  }
}
