@import '../../styles/abstracts/abstracts';

.container {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
