.container {
  display: flex;
  align-items: center;

  .xs {
    margin-right: 4px;
  }

  .sm {
    margin-right: 8px;
  }

  .m {
    margin-right: 12px;
  }

  .l {
    margin-right: 16px;
  }

  .xl {
    margin-right: 20px;
  }

  .xxl {
    margin-right: 24px;
  }
}

.buttonSpacer {
  margin-bottom: 70px;
}
