@import '../../../../styles/abstracts/abstracts';

.tableMessage {
  padding: space(3) space(3.5);
  min-width: $ui-kit-table-header-column-min-width;
  color: $idoit-neutral-700;
  background-color: $ui-kit-table-header-column-color;
  white-space: nowrap;
  padding: 20px 15px;
  @include fontSizeSmall();
  @include fontWeightSemiBold();
}

.popoverBlock {
  @extend .tableMessage;
  min-height: 150px;
  justify-content: space-around;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.maxTableHeight {
  max-height: 550px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 700px;
  justify-content: space-between;
}
