@import '../../../../styles/abstracts/abstracts';

.counter {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: $idoit-white;
  background-color: $idoit-interaction-regular;
}

.item {
  max-width: 24rem;
  min-width: 16rem;
  justify-content: space-between;

  @include shadow('medium');
}

.handle {
  position: absolute;
  left: 0;
}
