@import '../../../../styles/abstracts/abstracts';

.icon {
  svg {
    @include svg-fill($idoit-neutral-700);
  }
}

[data-selected='true']:not(:hover):not([data-disabled='true']) > .icon {
  svg {
    @include svg-fill($idoit-interaction-regular);
  }
}

[data-disabled='true'] > .icon {
  svg {
    @include svg-fill($idoit-neutral-300);
  }
}
