@import '../../../../../styles/abstracts/abstracts';

.menu {
  @include shadow('medium');

  max-height: 26.6rem;
  overflow: auto;
  max-width: 100%;
  outline: none;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: space(1) 0;
  background-color: $idoit-white;
}

.trigger {
  outline: none;
  text-align: left;
  color: $idoit-neutral-900;
  max-width: 100%;

  .open {
    svg {
      @include svg-fill($idoit-interaction-regular);
    }
  }

  .triggerIcon {
    pointer-events: none;
  }
}

.content {
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: wrap;
}

.tag {
  margin-right: 4px !important;
  margin-bottom: 4px;
}

.selected {
  text-overflow: ellipsis;
}

.placeholder {
  color: $idoit-neutral-500;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
}
