@import '../../styles/abstracts/abstracts';

.container {
  height: 100%;
  padding-top: 3.2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  min-width: 230px;

  &.sm {
    box-shadow: $box-shadow-sm;
  }

  &.lg {
    box-shadow: $box-shadow-lg;
  }

  &.md {
    box-shadow: $box-shadow;
  }

  &.none {
    box-shadow: none;
  }
}
