@import '../../../../styles/abstracts/abstracts';

.content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: space(2);
  background-color: $white;
  color: $ui-kit-neutral-500;

  .text {
    display: flex;
    flex-direction: column;
  }

  .icon {
    margin-right: space(1);
  }

  .subline {
    overflow: hidden;
  }

  &.current {
    font-weight: $font-weight-bold;
  }

  &.current,
  &.done {
    color: $ui-kit-neutral-900;

    svg {
      @include svg-fill($ui-kit-color-strong-blue-300);
    }
  }
}
