@import '../../../../styles/abstracts/abstracts';

.content {
  @include fontWeightNormal();
  @include fontSizeSmall();
  color: $ui-kit-neutral-700;
  padding-top: space(1);
}

[data-selected='true']:not([data-disabled='true']) {
  .content {
    @include fontWeightNormal();
    color: $ui-kit-interaction-regular;
  }

  &:hover .content {
    color: $ui-kit-neutral-900;
  }
}

[data-disabled='true'] .content {
  background-color: $ui-kit-neutral-200;
  color: $ui-kit-neutral-500;
}
