@import '../../../styles/abstracts/abstracts';

table:not(:hover) {
  .row:focus-within:not(.selected) {
    background-color: $idoit-neutral-100;
  }
}

.row {
  &:hover {
    background-color: $idoit-neutral-100;
  }

  &.selected {
    background-color: $idoit-interaction-selected;

    td:hover > div {
      background-color: rgba(33, 33, 33, 0.1);
      border-color: rgba(33, 33, 33, 0.25);
    }
  }
}
