@import '../../../styles/abstracts/abstracts';

.label {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.marginForm {
  margin: 0 !important;
}

.marginBottomHeadline {
  margin-bottom: 0 !important;
}

.subHeadline {
  color: $ui-kit-neutral-700;
}
