@import '../../../../styles/abstracts/abstracts';

.formGroup {
  width: 100%;
}

.formGroupContainer {
  &.vertical {
    .formGroup {
      margin-bottom: 32px;
    }

    .formGroup:last-child {
      margin-bottom: 0;
    }
  }
}
