@import '../../../styles/abstracts/abstracts';

.dropArea {
  position: relative;
}

.drop {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 250ms linear;
  transition-delay: 300ms;
  margin: 0;
  padding: 0;
  z-index: -1;
}

[data-dnd-active='true'] .drop {
  margin: -20px 0;
  padding: 20px 0;
  z-index: 1;
}
