@import '../../../../styles/abstracts/abstracts';

.drag {
  stroke: $idoit-interaction-regular;
  outline: none;

  &:focus-visible,
  &.active {
    stroke: $ui-kit-interaction-press;
    fill: rgba($ui-kit-interaction-press, 0.1);
  }
}
