@import '../../../../styles/abstracts/abstracts';

.item {
  @include fontSizeRegular();
  @include fontWeightNormal();

  cursor: pointer;
  padding: 0 14px 0 18px;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  min-height: space(10);
  border: 2px solid transparent;
  transition: all 200ms ease-in;
  outline: none;
  background-color: $idoit-white;

  svg {
    @include svg-fill($idoit-neutral-700);
  }

  > div[class*='radio'] {
    pointer-events: none;
  }

  > * {
    margin: 0 space(1);

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &:focus-within {
    border: 2px solid $idoit-focus-regular;
  }

  &.selected {
    @include fontWeightSemiBold();

    svg {
      @include svg-fill($idoit-interaction-regular);
      fill: $idoit-interaction-regular;
    }

    background-color: $idoit-interaction-selected;
    color: $idoit-interaction-regular;

    &:hover:not(.disabled) {
      color: $idoit-neutral-900;
    }
  }

  &:hover {
    background-color: $idoit-neutral-100;

    svg {
      @include svg-fill($idoit-neutral-700);
      fill: $idoit-neutral-700;
    }
  }

  &.disabled {
    background-color: $idoit-white;
    color: $idoit-neutral-300;
    font-weight: normal;
    cursor: not-allowed;

    svg {
      @include svg-fill($idoit-neutral-300);
    }
  }

  &.readOnly {
    pointer-events: none;
  }

  &.pressed {
    background-color: $idoit-neutral-300;
    font-weight: $font-weight-bold;
  }
}

.hovered {
  background-color: $idoit-neutral-100;
}

.header {
  @include fontSizeLarge();
  @include fontWeightSemiBold();

  padding: 22px 14px 6px 14px;
}
