@import '../../../../../styles/abstracts/abstracts';

.menu {
  @include shadow('medium');

  max-height: 26.6rem;
  overflow: auto;
  max-width: 100%;
  outline: none;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: space(1) 0;
  background-color: $idoit-white;
}

.trigger {
  border: none;
  background: none;
  outline: none;
  flex-grow: 1;
  align-items: center;
  text-align: left;
  display: flex;
  color: $idoit-neutral-900;
  max-width: 100%;
  padding: 0;

  .triggerIcon {
    pointer-events: none;
  }

  &.open {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-interaction-regular);
      }
    }
  }

  &:focus-within {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-neutral-700);
      }
    }
  }
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  text-overflow: ellipsis;
}

.placeholder {
  color: $idoit-neutral-500;
}
