@import '../../../../../styles/abstracts/abstracts';

.menu {
  @include shadow('medium');

  max-height: 26.6rem;
  overflow: auto;
  max-width: 100%;
  outline: none;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: space(1) 0;
  background-color: $idoit-white;
}

.trigger {
  border: none;
  background: none;
  outline: none;
  align-items: center;
  text-align: left;
  display: flex;
  max-width: 100%;
  padding: 0;
  pointer-events: none;

  &.open {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-interaction-regular);
      }
    }
  }

  &:focus-within {
    .triggerIcon {
      svg {
        @include svg-fill($idoit-neutral-700);
      }
    }
  }
}

.popper {
  z-index: 2;
}
.container {
  .containerTags {
    flex-shrink: 1;
    flex-grow: 1;

    .input {
      padding: 0;
      min-width: 30%;
      max-width: 100% !important;
      width: max-content !important;
      overflow: hidden;

      &:not(.visible) {
        max-width: 0 !important;
        min-width: 0;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
}
