@import '../../../styles/abstracts/abstracts';

.modalContent {
  position: static;
  height: 100%;
  padding: 0 space(6) space(6);
  overflow-y: auto;
  transition: $transition-base;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &.borderTop {
    border-top-color: $idoit-neutral-200;
  }

  &.borderBottom {
    border-bottom-color: $idoit-neutral-200;
  }
}
