@import '../../../../styles/abstracts/abstracts';

.listCellOverflowContent {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listCellContainer {
  max-width: $ui-kit-table-body-column-max-width;
}
