@import '../../styles/abstracts/abstracts';

.sectionHeader {
  padding: space(2) 0;
  @include border('bottom');
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  font-weight: $idoit-font-weight-semi-bold;
  font-size: $idoit-font-size-large;
  line-height: $idoit-line-height-large;
  margin: 0;
}

.actionPanel {
  flex-shrink: 0;
  padding-left: space(2);

  & > * {
    padding-left: space(2);
  }
}
