@import '../../../../styles/abstracts/abstracts';

.item:hover,
.item.hovered,
.selected {
  background-color: $idoit-interaction-selected !important;
}

.selected {
  color: $idoit-interaction-regular !important;
  font-weight: $font-weight-bold;
}

.edge,
.item:hover:not(.disabled),
.item.hovered:not(.disabled) {
  border-left: 2px solid $idoit-interaction-press;
  border-right: 2px solid $idoit-interaction-press;
}

.start,
.from.item:hover:not(.disabled),
.from.item.hovered:not(.disabled) {
  border-top: 2px solid $idoit-interaction-press;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.end,
.to.item:hover:not(.disabled),
.to.item.hovered:not(.disabled) {
  border-bottom: 2px solid $idoit-interaction-press;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
