@import '../../../../styles/abstracts/abstracts';

.icon {
  margin-left: space(2);
}

.field {
  margin-bottom: space(6);
}

.vertical {
  display: flex;

  > :not(:last-child) {
    margin-right: space(4);
  }
}
