@import '../../styles/abstracts/abstracts';

.fixed {
  position: sticky;
  top: 0;
  background-color: $ui-kit-white;
  z-index: 1;
}

.table {
  white-space: nowrap;
  width: 100%;
  overflow: auto;
  display: block;

  thead {
    display: grid;

    tr {
      width: 100% !important;
    }

    th {
      border-bottom: 1px solid $ui-kit-neutral-200;
      padding: space(3) space(3.5);
      width: $ui-kit-table-header-column-width;
      color: $ui-kit-neutral-700;
      background-color: $ui-kit-table-header-column-color;
      border-right: none;
      white-space: nowrap;
      user-select: none;
      flex-grow: 0;
      flex-shrink: 0;

      &.placeholder {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0 !important;
        width: auto !important;
        padding: 0;
      }

      &:focus:not(.unfocusable),
      &:focus-within:not(.unfocusable) {
        outline: 2px $ui-kit-focus-regular solid;
        z-index: 1;
      }

      & .canSort {
        cursor: pointer;
      }

      @include fontSizeSmall();
      @include fontWeightSemiBold();

      &.isResizing:after {
        background-color: transparent;
      }

      .sorting {
        margin-right: -10px;
        opacity: 0;
        transition: margin-right 150ms linear;
        vertical-align: top;
      }

      &.isSorted {
        color: $ui-kit-neutral-900;
      }

      & .active,
      &:hover .sorting,
      &:focus .sorting {
        opacity: 1;
        margin-right: 5px;
      }
    }
  }

  tbody {
    display: grid;

    .fullWidthChild {
      width: 100%;
    }

    tr {
      width: 100%;
      display: flex;

      td {
        height: $ui-kit-table-body-row-height;
        padding: 0;
        border: none;
        // Add the left border to that the content does not "jump" when selecting it.
        border-left: 1px solid transparent;
        color: $ui-kit-neutral-900;
        background-color: $ui-kit-table-body-column-color;
        user-select: none;
        border-bottom: 1px solid $ui-kit-neutral-200;
        @include fontSizeRegular();
        @include fontWeightNormal();
        flex-grow: 0;
        flex-shrink: 0;

        &.placeholder {
          flex-grow: 1;
          flex-shrink: 1;
          min-width: 0 !important;
          width: auto !important;
          padding: 0;
        }
      }

      .selected {
        background-color: $ui-kit-interaction-selected;
      }

      .selectedCell {
        border: 1px solid $ui-kit-neutral-500;
        border-bottom-color: $ui-kit-neutral-300;
        border-top-width: 0;
        position: relative;
        background-color: white;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          @include shadow('medium');
        }

        user-select: none;

        &.startSelection {
          border-top-width: 1px;
        }

        &.selectedNextRight {
          border-right-width: 0px;
        }

        &.endSelection {
          border-bottom-width: 1px;
          border-bottom-color: $ui-kit-neutral-500;
        }
      }

      div:not(:last-child) button {
        margin-right: 5px;
      }
    }
  }

  :focus-visible {
    outline: none;
  }

  &.show-hover {
    thead {
      th:hover:not(.unfocusable) {
        background-color: $ui-kit-table-header-column-hover-color;
        border-right: 1px solid $ui-kit-neutral-300;

        & .resizerContainer {
          right: -2px;
        }
      }

      .resizable:hover:after {
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        content: '';
        width: 4px;
        height: 100%;
        background-color: $ui-kit-interaction-press;
      }

      .resizing.resizable:after {
        background-color: transparent;
      }

      .unfocusable.resizable:hover:after {
        background-color: transparent;
      }
    }

    tbody {
      tr {
        td {
          > div:hover {
            background-color: $ui-kit-neutral-100;
            border-color: $ui-kit-table-body-column-hover-color;
          }
        }
      }
    }
  }
}

.table-footer {
  height: $ui-kit-table-footer-row-height;
  padding: space(4) 0;
  color: $ui-kit-neutral-500;

  @include fontSizeSmall();
  @include fontWeightSemiBold();
}

.borderLeft {
  border-left: 1px solid $ui-kit-neutral-200 !important;
}

.borderRight {
  border-right: 1px solid $ui-kit-neutral-200 !important;
}

.borders {
  border-right: 1px solid $ui-kit-neutral-200 !important;
  border-left: 1px solid $ui-kit-neutral-200 !important;
  border-bottom: none !important;
}

.noBottomBorder {
  border-bottom: none !important;
}

.resizerContainer {
  display: inline-block;
  width: 8px;
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 2;
  touch-action: none;

  .resizer {
    display: inline-block;
    background: transparent;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(15%);
    z-index: 100;
    touch-action: none;

    &.isResizing {
      background: $ui-kit-interaction-press;
      z-index: 999;
      width: 2px;
      height: 100vh;
    }
  }
}
