@import '../../styles/abstracts/abstracts';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.tooltip {
  display: inline-flex;
}

.trigger {
  display: inline-flex;
}

.popper {
  z-index: $zindex-tooltip;
}

.content {
  word-break: break-word;
  z-index: $zindex-tooltip;
  color: $idoit-white;
  max-width: 19.6rem;
  padding: 2px 6px;
  border-radius: 6px;
  background-color: $idoit-neutral-700;
  font-size: $idoit-font-size-small;
  line-height: $idoit-line-height-small;
  transition: transform 150ms ease-out;
  overflow: hidden;
  border: none;

  path {
    fill: #fff !important;
  }
}
