@import '../../styles/abstracts/abstracts';

.iconButton {
  width: 3.2rem;
  min-width: auto !important;
  max-width: 3.2rem;
  padding: 0;

  &.small {
    max-width: 2.4rem;
    max-height: 2.4rem;
    min-height: 2.4rem;
    max-height: 2.4rem;
  }

  // ButtonBase forces usage of the !important rule. Please refactor ButtonBase because it will lead to important hell!
  > div {
    padding: 0 !important;
  }
}

.visuallyHidden {
  @include visuallyHidden();
}

.disabled:not(.loading) {
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}

.noPointer {
  pointer-events: none;
  background: rgba($idoit-neutral-900, 0.12);

  svg {
    @include svg-fill($idoit-neutral-500);
  }
}
