@import '../../../../styles/abstracts/abstracts';

.checkbox {
  position: relative;
  display: inline-flex;
  margin: space(1) 0;

  .pseudoCheckbox {
    width: 24px;
    height: 24px;
    padding: space(1);
    border-radius: 4px;
    position: relative;
    opacity: 1;
    pointer-events: none;

    &::before {
      content: '';
      display: flex;
      width: 16px;
      height: 16px;
      border: 2px solid;
      border-radius: 2px;
    }
  }

  .checkIcon {
    position: absolute;
    top: space(1);
    left: space(1);
    opacity: 1;
    @include svg-fill(transparent);
  }

  .label {
    letter-spacing: 0.25px;
    font-size: $idoit-font-size-small;
    line-height: 16px;
    margin: 0 3px;
  }

  [type='checkbox'] {
    position: absolute;
    left: -9999px;
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
  }

  .visuallyHidden {
    @include visuallyHidden();
  }

  [type='checkbox']:not(:disabled) {
    &:checked + label {
      .checkIcon {
        @include svg-fill($idoit-white);
      }
    }

    // hover
    & + label:hover {
      .pseudoCheckbox {
        background: $idoit-interaction-hover;
      }

      .checkIcon {
        @include svg-fill($idoit-interaction-hover);
      }
    }
  }

  [type='checkbox']:disabled {
    & + label {
      cursor: not-allowed;
      color: $idoit-neutral-300;

      .pseudoCheckbox {
        &::before {
          border-color: $idoit-neutral-300;
        }
      }
    }

    &:checked + label {
      .pseudoCheckbox {
        &::before {
          border-color: $idoit-neutral-300;
          background-color: $idoit-neutral-300;
        }

        .checkIcon {
          @include svg-fill($idoit-neutral-500);
        }
      }
    }
  }

  //
  // Regular
  //

  &.regular {
    .pseudoCheckbox {
      &::before {
        border-color: $idoit-neutral-700;
      }
    }

    [type='checkbox']:not(:disabled) {
      // focus
      &:focus-visible + label {
        .pseudoCheckbox {
          &::before {
            border-color: $idoit-focus-regular;
          }
        }
      }

      &:checked:focus-visible + label {
        .pseudoCheckbox {
          &::before {
            border-color: $idoit-focus-regular;
            background-color: $idoit-focus-regular;
          }
        }
      }

      &:checked:focus-visible:not(:hover) + label {
        .checkIcon {
          @include svg-fill($idoit-neutral-900);
        }
      }

      // hover
      & + label:hover {
        .pseudoCheckbox {
          &::before {
            border-color: $idoit-neutral-900;
          }
        }
      }

      &:checked + label {
        .pseudoCheckbox {
          &::before {
            border-color: $idoit-interaction-regular;
            background-color: $idoit-interaction-regular;
          }
        }

        &:hover {
          .pseudoCheckbox {
            &::before {
              border-color: $idoit-neutral-900;
              background-color: $idoit-neutral-900;
            }
          }
        }
      }
    }
  }

  //
  // Error
  //

  &.error {
    .pseudoCheckbox {
      &::before {
        border-color: $idoit-error-regular;
      }
    }

    [type='checkbox']:not(:disabled) {
      &:focus-visible + label {
        .pseudoCheckbox {
          &::before {
            box-shadow: 0 2px 4px rgba(166, 157, 140, 0.25);
          }
        }
      }

      &:checked + label {
        .pseudoCheckbox {
          &::before {
            background-color: $idoit-error-regular;
          }
        }
      }
    }
  }
}
