@import '../../../../styles/abstracts/abstracts';

.content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.done {
    background-color: $ui-kit-color-strong-blue-300;
  }

  &.current {
    &:before {
      content: '';
      display: block;
      width: 80%;
      height: 80%;
      border-radius: 50%;
      background-color: $ui-kit-color-strong-blue-75;
    }
  }
}
