@import '../../styles/abstracts/abstracts';
@import '../../styles/vendors/_bootstrap-custom.scss';

$idoit-tag__opacity: 0.5 !default;

.container {
  width: fit-content;

  .button {
    padding: 0.3rem 0.4rem;
    min-height: 2.6rem;
    color: $idoit-neutral-900;
    background-color: $idoit-neutral-200;
    border-color: transparent;

    path {
      transition: $transition-base;
    }

    svg {
      @include svg-fill($idoit-neutral-900);
    }

    &:focus:not(.disabled) {
      background-color: $idoit-focus-regular;
    }

    &:hover:not(.disabled) {
      background-color: $idoit-neutral-700;
      color: $idoit-white;

      svg {
        @include svg-fill($idoit-white);
      }
    }

    &.disabled {
      opacity: $idoit-tag__opacity;
    }

    &:active:not(.disabled),
    &.open {
      background-color: $idoit-neutral-300;
      color: $idoit-neutral-900;
      border-color: transparent;

      svg {
        @include svg-fill($idoit-neutral-900);
      }
    }
  }
}
