@import '../../../../styles/abstracts/abstracts';

.step {
  background-color: $ui-kit-neutral-100;
}

.current,
.done {
  background-color: $ui-kit-color-light-blue-50;

  .icon {
    svg {
      @include svg-fill($ui-kit-color-strong-blue-300);
    }
  }
}
