@import '../../styles/abstracts/abstracts';

.system {
  background-color: $idoit-system;
  color: $idoit-white;
}

.error {
  background-color: $idoit-error;
  color: $idoit-white;
}

.success {
  background-color: $idoit-success;
  color: $idoit-white;
}

.warning {
  background-color: $ui-kit-tertiary-yellow;
  color: $ui-kit-neutral-900;

  svg {
    @include svg-fill($idoit-neutral-900);
  }
}

.headerIcon {
  margin-right: 1.6rem;
}

.banner {
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
}

.withShadow {
  box-shadow: $box-shadow-lg;
}

.bannerHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 52px;
  font-weight: $idoit-font-weight-semi-bold;
  font-size: $idoit-font-size-regular;
  line-height: $idoit-line-height-regular;
  padding: 1.6rem;
}

.notificationBanner {
  padding: 1.6rem 2.4rem;
}

.headerString {
  width: 100%;
}

.headerIcon {
  margin-right: 1.6rem;
}

.bannerBody {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1.6rem;
  font-size: $idoit-font-size-regular;
  font-weight: $idoit-font-weight-normal;
  line-height: $idoit-line-height-regular;
}

.notificationBody {
  padding-left: 6rem;
}

.bannerFooter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 1.6rem 1.6rem 1.6rem;
}

.notificationFooter {
  padding: 0 1.6rem 2.4rem 6rem;
}
