@import '../../../../styles/abstracts/abstracts';

.tooltip {
  width: 100%;
  cursor: pointer;
}

.tooltipCell {
  height: 100%;
  width: 100%;
  align-items: center;
  line-height: 35px;
  max-width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
