@import '../../../styles/abstracts/abstracts';

.section {
  display: flex;

  .vertical {
    flex-direction: column;
  }
}

.vertical {
  padding: 0 2rem 0 2rem;
}

.horizontal {
  padding: 1.6rem 2.4rem 1.6rem 1.6rem;
}
