@import '../../../styles/abstracts/abstracts';

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ui-kit-color-light-blue-50;
}

.full {
  margin: 0;
  border-radius: 0;
}

.rounded {
  margin: 0.8rem 0.8rem 0 0.8rem;
  border-radius: $border-radius-md;
}
