@import '../../../../styles/abstracts/abstracts';

.size-normal {
  @include fontWeightSemiBold();
  color: $idoit-neutral-900;
}

.size-thick {
  @include fontWeightSemiBold();
  color: $idoit-neutral-700;
}

.size-small {
  @include fontWeightNormal();
  color: $idoit-neutral-700;
}

.content {
  padding: space(8) space(4) space(2) space(4);

  &:first-of-type {
    padding-top: 0;
  }
}
